<h1>NLP classifiers page <i class="fa fa-briefcase" aria-hidden="true"></i></h1>

<div class="alert alert-warning fade in alert-dismissable" [hidden]="!errorText">
    <strong>Oops! <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong> {{errorText}}
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
</div>
<div class="alert alert-success fade in alert-dismissable" [hidden]="!successText">
    <strong>Great! <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></strong> {{successText}}
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
</div>


<div class="col-md-12 text-center" [hidden]="!displayLoadingBlock">
    <img src="/build/assets/pre-loader.gif">
</div>

<div class="col-md-12 text-center" [hidden]="!displayTrainBlock">
    <img src="/build/assets/bar.gif">
</div>

<div class="col-md-12" [hidden]="displayLoadingBlock || displayTrainBlock">

    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li [attr.class]="activeClassifiersType == classifierTypeML ? 'active': ''">
                <a (click)="switchClassifiersType(classifierTypeML)">Classifiers</a>
            </li>
            <li [attr.class]="activeClassifiersType == classifierTypeRootML ? 'active': ''">
                <a (click)="switchClassifiersType(classifierTypeRootML)">Root classifiers</a>
            </li>
        </ul>
    </div>

    <br>
    <br>

    <ng-container *ngIf="classifierModel">
        <div class="col-md-4">
            <form #classifierForm="ngForm" class="nlpClassifierForm">
                <div class="form-group">
                <textarea
                        class="form-control"
                        required
                        name="text"
                        placeholder="Type new classifier name here"
                        [(ngModel)]="classifierModel.text"
                        #text="ngModel"
                        style="resize: vertical;"
                ></textarea>
                    <div [hidden]="text.valid || text.pristine" class="alert alert-danger">
                        Text is required
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default pull-right" style="width: 19%" title="Filter models" (click)="filterClassifiersAvailableModels()">
                        <span class="glyphicon glyphicon-filter"></span>
                    </button>

                    <select class="form-control"
                            name="model"
                            [(ngModel)]="classifierModel.model"
                            style="width: 80%"
                    >
                        <option *ngFor="let modelName of availableClassifiersModels?.reverse()" [value]="modelName">
                            {{ modelName }}
                        </option>
                    </select>
                </div>
                <div class="form-group">

                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success" [disabled]="!classifierForm.form.valid" (click)="createClassifier()">
                            Create <span class="glyphicon glyphicon-plus-sign"></span>
                        </button>
                        <button type="button" class="btn btn-primary" [disabled]="!classifierForm.form.valid" (click)="updateClassifier()">
                            Update <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <button type="button" class="btn btn-danger" [disabled]="!classifierForm.form.valid" (click)="deleteClassifier();">
                            Delete <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="button" class="btn btn-info" [disabled]="!classifierForm.form.valid" (click)="trainClassifier()">
                            Train <span class="glyphicon glyphicon-transfer"></span>
                        </button>
                    </div>


                </div>
            </form>
            <br>
            <div class="list-group {{disableListGroups ? 'disableListItems' : ''}}">
                <a *ngFor="let classifier of availableClassifiers"
                   class="list-group-item {{(classifier.classifier_id == classifierModel.classifier_id) ? 'active' : ''}}"
                   (click)="changeClassifier(classifier)"
                >
                    {{classifier.text}}
                </a>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="classifierClassModel">
        <div class="col-md-4">
            <form #classifierClassForm="ngForm" class="nlpClassifierForm">
                <div class="form-group">
                    <textarea
                            class="form-control"
                            required
                            name="name"
                            placeholder="Type new class name here"
                            [(ngModel)]="classifierClassModel.name"
                            #name="ngModel"
                            style="resize: vertical;"
                    ></textarea>
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        Name is required
                    </div>
                </div>
                <div class="form-group">
                    <input type="number"
                           class="form-control"
                           id="trigger_threshold"
                           required
                           name="trigger_threshold"
                           placeholder="Probability"
                           [(ngModel)]="classifierClassModel.trigger_threshold"
                           #trigger_threshold="ngModel"
                    >
                    <div [hidden]="trigger_threshold.valid || trigger_threshold.pristine" class="alert alert-danger">
                        Probability is required
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success" [disabled]="!classifierClassForm.form.valid" (click)="createClass()">
                            Create <span class="glyphicon glyphicon-plus-sign"></span>
                        </button>
                        <button type="button" class="btn btn-primary" [disabled]="!classifierClassForm.form.valid" (click)="updateClass()">
                            Update <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <button type="button" class="btn btn-danger" [disabled]="!classifierClassForm.form.valid" (click)="deleteClass()">
                            Delete <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
            </form>
            <br>
            <div class="list-group {{disableListGroups ? 'disableListItems' : ''}}">
                <a *ngFor="let classifierClass of availableClassifierClasses"
                   class="list-group-item {{(classifierClass.classifier_class_id == classifierClassModel.classifier_class_id) ? 'active' : ''}}"
                   (click)="changeClassifierClass(classifierClass)"
                >
                    {{classifierClass.name}}
                </a>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="classifierClassPhraseModel">
        <div class="col-md-4">
            <form #classifierClassPhrasesForm="ngForm" class="nlpClassifierForm">
                <div class="form-group">
                <textarea
                        class="form-control"
                        required
                        name="text"
                        placeholder="Type new phrases here"
                        [(ngModel)]="classifierClassPhraseModel.text"
                        #text="ngModel"
                        style="resize: vertical;"
                ></textarea>
                    <div [hidden]="text.valid || text.pristine" class="alert alert-danger">
                        Text is required
                    </div>
                </div>

                <div class="form-group">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success" [disabled]="!classifierClassPhrasesForm.form.valid" (click)="createPhrase()">
                            Create <span class="glyphicon glyphicon-plus-sign"></span>
                        </button>
                        <button type="button" class="btn btn-primary" [disabled]="!classifierClassPhrasesForm.form.valid" (click)="updatePhrase()">
                            Update <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <button type="button" class="btn btn-danger" [disabled]="!classifierClassPhrasesForm.form.valid && !checkedClassPhrases.length" (click)="deletePhrase()">
                            Delete <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="button" class="btn btn-default" (click)="checkAllPhrases()" title="Check all phrases">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                        </button>
                        <button type="button" class="btn btn-default" (click)="unCheckAllPhrases()" title="UnCheck all phrases">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </div>
                </div>
            </form>
            <br>
            <div class="list-group {{disableListGroups ? 'disableListItems' : ''}}">
                <a *ngFor="let classPhrase of availableClassifierClassPhrases"
                   class="list-group-item {{(classPhrase.learning_phrase_id == classifierClassPhraseModel.learning_phrase_id) ? 'active' : ''}}"
                   (click)="changeClassifierClassPhrase(classPhrase)"
                >
                    <input
                        (change)="checkedClassPhrases.push(classPhrase.learning_phrase_id);"
                        [checked]="checkedClassPhrases.indexOf(classPhrase.learning_phrase_id) !== -1"
                        type="checkbox"
                    >&nbsp;&nbsp;&nbsp;
                    <!--{{classPhrase.text}}-->
                    <span [innerHTML]="getMarkedPhraseText(classPhrase.learning_phrase_id, classPhrase.text)"></span>
                    <a style="float: right; color:black;" data-toggle="modal"
                       [attr.data-target]="'#entityModal'+ classPhrase.learning_phrase_id" title="Phrase entities form"
                    >
                        <span class="glyphicon glyphicon-modal-window"></span>
                    </a>
                </a>
            </div>
        </div>
    </ng-container>
</div>

<ng-container *ngFor="let classPhrase of availableClassifierClassPhrases;">
    <!-- Modal -->
    <div id="entityModal{{classPhrase.learning_phrase_id}}" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width: 40%;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        Entities for "{{classPhrase.text}}" phrase
                    </h4>

                    <strong *ngIf="modalErrorText" class="text-danger">{{modalErrorText}}</strong>
                    <strong *ngIf="modalSuccessText" class="text-success">{{modalSuccessText}}</strong>
                </div>
                <div class="modal-body">

                    <div class="text-center" [hidden]="!displayModalLoader">
                        <img src="/build/assets/modal-loader.gif">
                    </div>

                    <form #phraseEntitiesForm="ngForm" [hidden]="displayModalLoader">
                        <div class="form-group">
                            <label for="entity">Entity name</label>
                            <input
                                type="text"
                                id="entity"
                                class="form-control"
                                required
                                name="entity"
                                placeholder="Entity name"
                                [(ngModel)]="phraseEntitiesModel.entity"
                                #entity="ngModel"
                            >
                            <div [hidden]="entity.valid || entity.pristine" class="alert alert-danger">
                                Entity is required
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="value">Value</label>
                            <input
                                    id="value"
                                    type="text"
                                    class="form-control"
                                    required
                                    name="value"
                                    placeholder="Value"
                                    [(ngModel)]="phraseEntitiesModel.value"
                                    #value="ngModel"
                            >
                            <div [hidden]="value.valid || value.pristine" class="alert alert-danger">
                                Entity is required
                            </div>
                        </div>
                        
                        <!--Phrase entities list -->
                        <ng-container *ngIf="availablePhraseEntities[classPhrase.learning_phrase_id]">
                            <p class="text-info">Phrase entities: </p>
                            <ng-container *ngFor="let entityData of availablePhraseEntities[classPhrase.learning_phrase_id]">
                                <button
                                    type="button"
                                    class="btn btn-info"
                                    (click)="setPhraseEntityModel(entityData)"
                                >
                                    <strong>{{ entityData.entity }}</strong>: {{ entityData.value }}
                                </button>
                            </ng-container>
                        </ng-container>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success"
                                [disabled]="!phraseEntitiesForm.form.valid"
                                (click)="createPhraseEntity()">
                            Add <span class="glyphicon glyphicon-plus-sign"></span>
                        </button>  
                        <button type="button" class="btn btn-success"
                                [disabled]="!phraseEntitiesForm.form.valid"
                                (click)="createMultiPhraseEntity()" [attr.data-dismiss]="'modal'">
                            Add to all <span class="glyphicon glyphicon-plus-sign"></span>
                        </button>
                        <button type="button" class="btn btn-primary"
                                [disabled]="!phraseEntitiesForm.form.valid"
                                (click)="updatePhraseEntity()">
                            Update <span class="glyphicon glyphicon-refresh"></span>
                        </button> 
                        <button type="button" class="btn btn-primary"
                                [disabled]="!phraseEntitiesForm.form.valid"
                                (click)="updateMultiPhraseEntity()" [attr.data-dismiss]="'modal'">
                            Update all <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <button type="button" class="btn btn-danger"
                                [disabled]="!phraseEntitiesForm.form.valid && !checkedClassPhrases.length"
                                (click)="deletePhraseEntity();phraseEntitiesForm.reset()">
                            Delete <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="button" class="btn btn-danger"
                                [disabled]="!phraseEntitiesForm.form.valid && !checkedClassPhrases.length"
                                (click)="deleteMultiPhraseEntity();" [attr.data-dismiss]="'modal'">
                            Delete all <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="button" class="btn btn-danger" [attr.data-dismiss]="'modal'" title="Cancel">
                            Cancel&nbsp;&nbsp;<span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                   
                </div>
            </div>

        </div>
    </div>
</ng-container>

