.radio-button.active, .radio-button.active:focus, .radio-button.active:hover {
    color: #5cb85c;
    border-color: #5cb85c;
}

.radio-button, .radio-button.active, .radio-button:focus, .radio-button.active:focus, .radio-button:hover, .radio-button.active:hover {
    background-color: #fff !important;
}

.radio-button span {
    margin-left: 0px !important;
}