.column span.active {
    color: #5cb85c;
}

.column li span {
    margin-left: 5px;
}

.column button.on {
    color: #5cb85c;
    border-color: #5cb85c;
}

.column .form-horizontal .control-label {
    text-align: left;
}

.column .btn.btn-default.dropdown-toggle.btn-block {
    text-align: right;
}

/*.column span.glyphicon-chevron-right, ul.column span.glyphicon-chevron-down {
    color: #000;
}*/

.column li.list-group-item {
    cursor: pointer;
}

.column li.list-group-item form[aria-expanded~='true'] {
    cursor: default;
}

.column li.current, ul.column li.current:focus, ul.column li.current:hover {
    background-color: #eee;
}

.column li.last-item, .column li.last-item.current, .column li.last-item.current:focus, .column li.last-item.current:hover {
    background-color: #dff0d8;
}

/*.collapse-column-link {
    cursor: pointer;
    font-size: 24px;
    color: #333;
}*/

.collapsed-column ul.column li span.pull-right, .collapsed-column ul.column li form {display: none !important;}