<h1>Test phrases page <i class="fa fa-text-height" aria-hidden="true"></i></h1>
<!--TO DEBUG MODEL STATUS UNCOMMENT THIS: {{diagnostic}}-->

<div class="alert alert-warning" [hidden]="hideHasErrorAlert">
    <strong>Oops!</strong> {{errorText}}
</div>

<div class="col-md-12">
    <form (ngSubmit)="onSubmit()" #testPhrasesForm="ngForm">
        <div class="col-md-2">
            <div class="form-group">
                <label for="model">Model</label>
                <select class="form-control"
                        id="model"
                        required
                        name="model"
                        [(ngModel)]="testPhrasesModel.model"
                        [disabled]="!enableModelsSelect"
                >
                    <optgroup *ngFor="let project of availableProjects" [label]="project">
                        <option *ngFor="let model of projects[project]" [value]="model">
                            {{ model }}
                        </option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <label for="text">Text</label>
                <input type="text"
                       class="form-control"
                       id="text"
                       required
                       name="text"
                       placeholder="Type phrase here"
                       [(ngModel)]="testPhrasesModel.text"
                       #text="ngModel"
                >
                <div [hidden]="text.valid || text.pristine"
                     class="alert alert-danger">
                    Text is required
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-lg btn-success"
                    [disabled]="!testPhrasesForm.form.valid || !hideLoadingBlock"
                    style="width: 100%">
                Send
            </button>
        </div>
    </form>
</div>

<div class="col-md-12">
    <div [hidden]="hideLoadingBlock">
        <div class="col-md-12 text-center">
            <img src="/build/assets/pre-loader.gif">
        </div>
    </div>
    <div [hidden]="hideResultsBlock">
        <h3>Test results</h3>

        <div class=" col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Intent</div>
                <div class="panel-body">
                    <ul *ngIf="intent?.length > 0">
                        <li *ngFor="let int of intent">
                            confidence: {{int.confidence}}; <br>
                            name:       {{int.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class=" col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Intent Ranking</div>
                <div class="panel-body">
                    <ul *ngIf="intentRanking?.length > 0">
                        <li *ngFor="let intentRank of intentRanking">
                            confidence: {{intentRank.confidence}}; <br>
                            name:       {{intentRank.name}};
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class=" col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Entities</div>
                <div class="panel-body">
                    <ul *ngIf="entities?.length > 0">
                        <li *ngFor="let entity of entities">
                            entity:    {{entity.entity}}; <br>
                            value:     {{entity.value}};  <br>
                            start:     {{entity.start}};  <br>
                            end:       {{entity.end}};    <br>
                            extractor: {{entity.extractor}};
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>


