<div class="modal fade" role="dialog" #modal>
    <div class="modal-dialog" style="width: 70%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">Update topic - {{topicData.name}}</h4>
                <strong *ngIf="modalErrorText" class="text-danger">{{modalErrorText}}</strong>
                <strong *ngIf="modalSuccessText" class="text-success">{{modalSuccessText}}</strong>
            </div>
            <div class="modal-body">

                <div class="text-center" [hidden]="!displayModalLoader">
                    <img src="/build/assets/modal-loader.gif">
                </div>


                <form #topicsForm="ngForm" [hidden]="displayModalLoader">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input
                                type="text"
                                id="name"
                                class="form-control"
                                required
                                name="name"
                                placeholder="Topic name"
                                [(ngModel)]="topicModel.name"
                                #name="ngModel"
                        >
                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            Name is required
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="scenarios">Scenarios</label>
                        <ss-multiselect-dropdown
                                id="scenarios" #scenarios="ngModel"
                                [texts]="multiSelectTexts"
                                [settings]="multiSelectSettings"
                                [options]="availableScenarios"
                                [(ngModel)]="topicModel.restrictions"
                                name="restrictions"
                        >
                        </ss-multiselect-dropdown>
                    </div>

                    <div class="form-group">
                        <label for="tags">Tags</label>
                        <ss-multiselect-dropdown
                                id="tags" #tags="ngModel"
                                [texts]="multiSelectTexts"
                                [settings]="multiSelectSettings"
                                [options]="availableTags"
                                [(ngModel)]="topicModel.tags"
                                name="tags"
                        >
                        </ss-multiselect-dropdown>
                    </div>

                    <div class="form-group">
                        <label for="lang">Language</label>
                        <select class="form-control"
                                id="lang"
                                required
                                name="lang"
                                [(ngModel)]="topicModel.lang"
                        >
                            <option *ngFor="let lang of availableLanguages" [value]="lang.id">
                                {{ lang.name }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="isExclude">Is Exclude For Initial</label>
                        <select class="form-control"
                                id="isExclude"
                                name="isExclude"
                                [(ngModel)]="topicModel.isExclude"
                        >
                            <option value=""></option>
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="countTriggering">Count triggering</label>
                        <input
                                id="countTriggering"
                                type="text"
                                class="form-control"
                                name="countTriggering"
                                placeholder="Count triggering value"
                                [(ngModel)]="topicModel.countTriggering"
                                #countTriggering="ngModel"
                        >
                        <div [hidden]="countTriggering.valid || countTriggering.pristine"
                             class="alert alert-danger">
                            Count triggering value is invalid
                        </div>
                    </div>


                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" (click)="pasteRule()" data-dismiss="modal">
                    Paste &nbsp; <span class="glyphicon glyphicon-paste"></span>
                </button>

                <button type="button" class="btn btn-default {{topicModel.switching ? 'activeButton' : ''}}"
                        [disabled]="!topicsForm.form.valid || displayModalLoader"
                        (click)="topicModel.switching = !topicModel.switching;updateTopic()">
                    {{topicModel.switching ? 'Hum' : 'Auto'}} &nbsp;&nbsp; <span
                        class="glyphicon glyphicon-user"></span>
                </button>
                <button type="button" class="btn btn-default {{topicModel.active ? 'activeButton' : ''}}"
                        [disabled]="!topicsForm.form.valid || displayModalLoader"
                        (click)="topicModel.active = !topicModel.active;updateTopic()">
                    {{topicModel.active ? 'Active' : 'Inactive'}} &nbsp;&nbsp; <span
                        class="glyphicon glyphicon-signal"></span>
                </button>
                <button type="button" class="btn btn-default  {{topicModel.enabled ? 'activeButton' : ''}}"
                        [disabled]="!topicsForm.form.valid || displayModalLoader"
                        (click)="topicModel.enabled = !topicModel.enabled;updateTopic()">
                    {{topicModel.enabled ? 'On' : 'Off'}} &nbsp;&nbsp; <span class="glyphicon glyphicon-off"></span>
                </button>

                <button type="button" class="btn btn-danger" (click)="deleteTopic()"
                        [disabled]="!topicsForm.form.valid || displayModalLoader">
                    Delete &nbsp;<span class="glyphicon glyphicon-trash"></span>
                </button>
                <button type="button" class="btn btn-primary" (click)="updateTopic()"
                        [disabled]="!topicsForm.form.valid || displayModalLoader">
                    Update &nbsp;<span class="glyphicon glyphicon-refresh"></span>
                </button>

                <button type="button" class="btn btn-danger" data-dismiss="modal"
                        [disabled]="!topicsForm.form.valid || displayModalLoader">
                    Cancel &nbsp;<span class="glyphicon glyphicon-remove-circle"></span>
                </button>
            </div>
        </div>

    </div>
</div>
