<h1>Test Chat Page <i class="fa fa-commenting-o" aria-hidden="true"></i></h1>
<!--TO DEBUG MODEL STATUS UNCOMMENT THIS: {{diagnostic}}-->

<div class="alert alert-warning" [hidden]="hideHasErrorAlert">
    <strong>Oops!</strong> {{errorText}}
</div>

<div class="col-md-12">
    <form (ngSubmit)="onSubmit()" #testChatForm="ngForm">

        <div class="col-md-2">
            <div class="form-group">
                <label for="scenario">Scenario</label>
                <select2
                        id="scenario"
                        name="scenario"
                        [options]="chatScenarios"
                        [settings] = "{placeholder: 'Scenario or setting'}"
                        [(ngModel)]="testChatModel.scenario"
                        (onSelect)="(updateSelects(selectTypeScenario))"
                >
                </select2>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="fromUserId">From user id</label>
                <input type="text"
                       class="form-control"
                       id="fromUserId"
                       required
                       name="fromUserId"
                       placeholder="Type user id here"
                       [(ngModel)]="testChatModel.fromUserId"
                       pattern="[0-9a-f]+"
                       #fromUserId="ngModel"
                >
                <div [hidden]="fromUserId.valid || fromUserId.pristine"
                     class="alert alert-danger">
                    User id is empty or invalid
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="toUserId">To user id</label>
                <input type="text"
                       class="form-control"
                       id="toUserId"
                       required
                       name="toUserId"
                       placeholder="Type user id here"
                       [(ngModel)]="testChatModel.toUserId"
                       pattern="[0-9a-f]+"
                       #toUserId="ngModel"
                >
                <div [hidden]="toUserId.valid || toUserId.pristine"
                     class="alert alert-danger">
                    User id is empty or invalid
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="setting">Setting</label>
                <select2
                        id="setting"
                        name="setting"
                        [options]="chatSettings"
                        [settings] = "{placeholder: 'Scenario or setting'}"
                        [(ngModel)]="testChatModel.setting"
                        (onSelect)="(updateSelects(selectTypeSetting))"
                >
                </select2>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="text">Text</label>
                <input type="text"
                       class="form-control"
                       id="text"
                       required
                       name="text"
                       placeholder="Type phrase here"
                       [(ngModel)]="testChatModel.text"
                       #text="ngModel"
                >
                <div [hidden]="text.valid || text.pristine"
                     class="alert alert-danger">
                    Text is required
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary"
                    (click)="clearHistory()"
                    style="width: 100%; margin-top: 25px;">
                Clear history
            </button>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-lg btn-success"
                    [disabled]="
                    !testChatForm.form.valid
                    ||
                    (testChatModel.scenario == '0' && testChatModel.setting == '0')"
                    style="width: 15%; float: left;">
                Send
            </button>
        </div>
    </form>
</div>

<div class="col-md-12" style="margin-top: 25px;">
    <div [hidden]="hideLoadingBlock">
        <div class="col-md-12 text-center">
            <img src="/build/assets/pre-loader.gif">
        </div>
    </div>

    <div class="col-md-12" [hidden]="hideDialogueBlock">
        <div class="panel panel-default">
            <div class="panel-heading">Dialogue</div>
            <div class="panel-body">
                <ul *ngIf="dialogueData?.length > 0">
                    <ng-container *ngFor="let cachedData of dialogueData">
                        <li *ngFor="let data of cachedData">
                            <p class="text-warning"><strong>From User:</strong> {{data.fromUserId}} - {{data.sendedText}}</p>
                            <p class="text-info"><strong>To User:</strong>      {{data.toUserId}}   - {{!data.text ? 'No answer' : data.text }}</p> <br>
                            <strong>Send Scenario:</strong> {{getSendScenario(data.scenario_id)}};<br>
                            <strong>Scenario:</strong> {{!data.params ? 'No params' : data.params[0].scenarioName}}; <br>
                            <strong>Properties:</strong><br>
                            <ng-container *ngFor="let property of data.params; let i = index">
                                &nbsp;&nbsp;- Topic:           {{!property.topic          ? 'None' : property.topic.name}}; <br>
                                &nbsp;&nbsp;- Rule:            {{!property.rule           ? 'None' : property.rule.name}}; <br>
                                &nbsp;&nbsp;- Pattern:         {{!property.pattern        ? 'None' : property.pattern.text}}; <br>
                                &nbsp;&nbsp;- Group Phrase:    {{!property.phrase         ? 'None' : getGroupPhraseName(property.phrase.group_phrase_id)}}; <br>
                                &nbsp;&nbsp;- Correct Text:    {{!data.correct_input_text ? 'None' : data.correct_input_text[i] }}; <br>
                                &nbsp;&nbsp;- Classification class: {{!data.clasification_class ? 'None' : data.clasification_class }}; <br>
                                &nbsp;&nbsp;- Score %: {{!data.score ? 'None' : data.score }};
                            </ng-container>
                            <br>------------------------------------------------------------------------<br>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
</div>


