<h1>Classifiers page <i class="fa fa-briefcase" aria-hidden="true"></i></h1>

<div class="alert alert-warning fade in alert-dismissable" [hidden]="!errorText">
    <strong>Oops! <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong> {{errorText}}
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
</div>
<div class="alert alert-success fade in alert-dismissable" [hidden]="!successText">
    <strong>Great! <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></strong> {{successText}}
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
</div>


<div class="col-md-12 text-center" [hidden]="!displayLoadingBlock">
    <img src="/build/assets/pre-loader.gif">
</div>

<div class="col-md-12 text-center" [hidden]="!displayTestBlock">
    <img src="/build/assets/bar.gif">
</div>

<div class="col-md-12" [hidden]="displayLoadingBlock || displayTestBlock">

    <div *ngIf="classifierModel" class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Classifiers</div>
            <div class="panel-body">
                <form #classifierForm="ngForm">
                    <div class="form-group">
                        <textarea
                                class="form-control"
                                required
                                name="text"
                                placeholder="Type new classifier name here"
                                [(ngModel)]="classifierModel.text"
                                #text="ngModel"
                                style="resize: vertical;"
                        ></textarea>
                        <div [hidden]="text.valid || text.pristine" class="alert alert-danger">
                            Text is required
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-success" [disabled]="!classifierForm.form.valid" (click)="createClassifier()">
                                Create <span class="glyphicon glyphicon-plus-sign"></span>
                            </button>
                            <button type="button" class="btn btn-primary" [disabled]="!classifierForm.form.valid" (click)="updateClassifier()">
                                Update <span class="glyphicon glyphicon-refresh"></span>
                            </button>
                            <button type="button" class="btn btn-danger" [disabled]="!classifierForm.form.valid" (click)="deleteClassifier();">
                                Delete <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <br>

        <div class="list-group {{disableListGroups ? 'disableListItems' : ''}}">
            <a *ngFor="let classifier of availableClassifiers"
               class="list-group-item {{(classifier.classifier_id == classifierModel.classifier_id) ? 'active' : ''}}"
               (click)="changeClassifier(classifier)"
            >
                {{classifier.text}}
            </a>
        </div>
    </div>

    <div *ngIf="patternModel" class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Classifier patterns</div>
            <div class="panel-body">
                <form #patternForm="ngForm">
                    <div class="form-group">
                        <textarea
                                class="form-control"
                                required
                                name="test"
                                placeholder="Type new classifier name here"
                                [(ngModel)]="patternModel.test"
                                #test="ngModel"
                                style="resize: vertical;"
                        ></textarea>
                        <div [hidden]="test.valid || test.pristine" class="alert alert-danger">
                            Test text is required
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea
                                class="form-control"
                                required
                                name="text"
                                placeholder="Type new classifier name here"
                                [(ngModel)]="patternModel.text"
                                #text="ngModel"
                                style="resize: vertical;"
                        ></textarea>
                        <div [hidden]="text.valid || text.pristine" class="alert alert-danger">
                            Text is required
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button *ngIf="patternModel.active" type="button" class="btn btn-default" style="color: green;"
                                    [disabled]="!patternForm.form.valid" (click)="deactivatePattern()">
                                Active <span class="glyphicon glyphicon-signal"></span>
                            </button>

                            <button *ngIf="!patternModel.active" type="button" class="btn btn-default" style="color: black;"
                                    [disabled]="!patternForm.form.valid" (click)="activatePattern()">
                                Test <span class="glyphicon glyphicon-signal"></span>
                            </button>

                            <button type="button" class="btn btn-success" [disabled]="!patternForm.form.valid" (click)="createPattern()">
                                Create <span class="glyphicon glyphicon-plus-sign"></span>
                            </button>
                            <button type="button" class="btn btn-primary" [disabled]="!patternForm.form.valid" (click)="updatePattern()">
                                Update <span class="glyphicon glyphicon-refresh"></span>
                            </button>
                            <button type="button" class="btn btn-info" [disabled]="!patternForm.form.valid" (click)="testPattern()">
                                Test <span class="glyphicon glyphicon-signal"></span>
                            </button>
                            <button type="button" class="btn btn-danger" [disabled]="!patternForm.form.valid" (click)="deletePattern();">
                                Delete <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <button type="button" class="btn btn-default" (click)="checkAllPatterns()" title="Check all patterns">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                            <button type="button" class="btn btn-default" (click)="unCheckAllPatterns()" title="UnCheck all patterns">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="list-group {{disableListGroups ? 'disableListItems' : ''}}">
            <a *ngFor="let pattern of availablePatterns"
               class="list-group-item {{(pattern.classifier_pattern_id == patternModel.classifier_pattern_id) ? 'active' : ''}}"
               (click)="changePattern(pattern)"
            >
                <input
                        (change)="checkedPatterns.push(pattern.classifier_pattern_id);"
                        [checked]="checkedPatterns.indexOf(pattern.classifier_pattern_id) !== -1"
                        type="checkbox"
                >&nbsp;&nbsp;&nbsp;
                <span *ngIf="pattern.active" class="glyphicon glyphicon-signal" style="color: green;"></span>
                <span *ngIf="!pattern.active" class="glyphicon glyphicon-signal" style="color: black;"></span> &nbsp;&nbsp;
                {{pattern.text}}
            </a>
        </div>
    </div>

</div>

