<h1>{{ titleService.getTitle() }}<i class="fa fa-ellipsis-v" aria-hidden="true"></i></h1>

<div class="alert alert-warning fade in alert-dismissable" [hidden]="!error">
    <strong>Oops! <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong> {{ error }}
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
</div>

<div class="alert alert-success fade in alert-dismissable" [hidden]="!success">
    <strong>Great! <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></strong> {{ success }}
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
</div>

<div class="col-md-12 text-center" [hidden]="!loading">
    <img src="/build/assets/pre-loader.gif">
</div>

<div class="col-md-12" [hidden]="loading">

    <div class="col-md-8">
        <table class="table">
            <thead class="thead-inverse table-striped table-bordered" style="color: white; background-color: #333;">
            <tr>
                <th class="col-md-3">ID</th>
                <th>Name</th>
                <th class="col-md-2">Topics</th>
                <th class="col-md-2">Scenarios</th>
            </tr>
            </thead>
            <tbody>

            <tr class="select"
                *ngFor="let group of data"
                [class.active]="group == groupSelected"
                (click)="changeTopicGroup(group)"
            >
                <td>{{ group.group_topics_id }}</td>
                <td>{{ group.text }}</td>
                <td>
                    <select class="form-control" name="topics">
                        <option *ngFor="let topic of group.topics" [value]="topic.topic_id">
                            {{ topic.name }}
                        </option>
                    </select>
                </td>
                <td>
                    <select class="form-control" name="scenarios">
                        <option *ngFor="let scenario of group.scenarios" [value]="scenario.scenarios_id">
                            {{ scenario.name }}
                        </option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <ng-container>
        <div class="col-md-4">
            <form #classifierForm="ngForm" class="classifierForm">
                <div class="form-group">
                    <label for="classifier_id">CID</label>
                    <input type="text"
                           class="form-control"
                           id="classifier_id"
                           name="classifier_id"
                           [(ngModel)]="classifier.classifier_id"
                           #name="ngModel"
                           readonly
                    >

                    <label for="group_topics_id">ID</label>
                    <input type="text"
                           class="form-control"
                           id="group_topics_id"
                           name="group_topics_id"
                           [(ngModel)]="classifier.group_topics_id"
                           #name="ngModel"
                           readonly
                    >

                    <label for="text">Name</label>
                    <textarea
                            class="form-control"
                            required
                            id="text"
                            name="text"
                            placeholder="Enter group name"
                            style="resize: vertical;"
                            [(ngModel)]="classifier.text"
                    ></textarea>

                    <label for="trigger_threshold">Probability</label>
                    <input
                            class="form-control"
                            required
                            id="trigger_threshold"
                            name="trigger_threshold"
                            placeholder="Enter Probability"
                            style="resize: vertical;"
                            [(ngModel)]="classifier.trigger_threshold"
                    >
                </div>
                <div class="form-group">
                    <label for="topics">Topics</label>
                    <select class="form-control"
                            id="topics"
                            name="topics"
                    >
                        <option *ngFor="let topic of topics" [value]="topic.topic_id">
                            {{ topic.name }}
                        </option>
                    </select>

                    <label for="scenarios">Scenarios</label>
                    <select class="form-control"
                            id="scenarios"
                            name="scenarios"
                    >
                        <option *ngFor="let scenario of scenarios" [value]="scenario.scenarios_id">
                            {{ scenario.name }}
                        </option>
                    </select>

                    <label for="model">Models</label>
                    <select class="form-control"
                            id="model"
                            name="model"
                            [(ngModel)]="classifier.model"
                    >
                        <option *ngFor="let model of models?.reverse()" [value]="model">
                            {{ model }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="btn-group" role="group">
                        <button type="button"
                                class="btn btn-success"
                                [disabled]="classifier.classifier_id"
                                (click)="createTopicGroup()"
                        >
                            Create <span class="glyphicon glyphicon-plus-sign"></span>
                        </button>

                        <button type="button"
                                class="btn btn-info"
                                [disabled]="!classifier.classifier_id"
                                (click)="trainTopicGroup()"
                        >
                            Train <span class="glyphicon glyphicon-transfer"></span>
                        </button>

                        <button type="button"
                                class="btn btn-primary"
                                [disabled]="!classifier.classifier_id"
                                (click)="updateTopicGroup()"
                        >
                            Update <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </ng-container>
</div>