.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
}

div.disabled {
    pointer-events: none;
    opacity: 0.5;
    background: #CCC;
}

ss-multiselect-dropdown > div.dropdown-inline {
    width: 100%;
}

.multiSelectSettingsButton {
    white-space: pre-line;
    max-height: 135px !important;
    overflow: auto;
}

.disableDrag > tbody {
    cursor: not-allowed;
    pointer-events: none;
}

.disableDrag > tbody > tr {
    background-color: gainsboro;
}

.pagination a {
    cursor: pointer;
}

.disableListItems > a {
    cursor: not-allowed;
    pointer-events: none;
    background-color: gainsboro;
}

.list-group a {
    cursor: pointer;
}

.list-group a.active {
    cursor: not-allowed;
}

.nlpClassifierForm {
    background-color: whitesmoke;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 5px;
}

span .marked {
    background-color: yellow;
    color: black;
}

.activeIcon {
    color: lightgreen;
}

.activeButton {
    background-color: transparent;
    color: green;
    border-color: green;
}

.topicRulesForms {
    padding: 10px;
    border: 1px solid darkgray;
    border-radius: 10px;
    margin-top: 10px;
}

.table tr.active td {
    background-color:#777 !important;
    color: white;
}