.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0px;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #333;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
}

.sidebar li a {
    font-size: 14px;
    line-height: 1.42857;
}

.sidebar .dropdown-header {
    margin-top: 20px;
}

.sidebar .divider {
    background-color: #777;
    height: 1px;
    margin-left: 15px !important;
    padding-left: 15px !important;
}

.sidebar .nav-stacked > li + li {
    margin-top: 0px;
}

.sidebar .nav-pills > li > a {
    border-radius: 0px;
    color: #fff;
}

.sidebar .nav-pills > li > ul {
    background-color: #777;
    padding-left: 20px;
}

.sidebar .nav-pills > li > a:focus {
    background-color: transparent;
}

.sidebar .nav-pills > li > a:hover, .sidebar .nav-pills > li > a[aria-expanded=true] {
    background-color: #777;
}

.sidebar .sidebar .nav-pills > li > a:only-child:focus, .sidebar .nav-pills > li > a:only-child:hover, .sidebar .nav-pills > li > a.active, .sidebar .nav-pills > li.active > a {
    background-color: #fff;
    color: #333;
}

.sidebar .badge.bgprimary {
    background-color: #337ab7;
}