<ng-container *ngIf="!timeSlotModel">
    <div class="col-md-12 text-center">
        <img src="/build/assets/loader.gif" style="margin-top: 10%;">
    </div>
</ng-container>

<ng-container *ngIf="timeSlotModel">
    <h1>Update timeslot - "{{timeSlotModel.name}}"</h1>

    <a class="btn btn-sm btn-primary"  [routerLink]="'/time-slots'">
        <span class="glyphicon glyphicon-arrow-left"></span> &nbsp;&nbsp;Return to all timeslots
    </a>

    <br>
    <br>

    <div class="alert alert-warning" [hidden]="(errorText == '')">
        <strong>Oops! <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong> {{errorText}}
    </div>

    <div class="alert alert-success" [hidden]="(successText == '')">
        <strong>Great! <i class="fa fa-grav" aria-hidden="true"></i></strong> {{successText}}
    </div>

    <div [hidden]="!displayLoadingBlock">
        <div class="col-md-12 text-center">
            <img src="/build/assets/pre-loader.gif">
        </div>
    </div>

    <div class="col-md-12" [hidden]="displayLoadingBlock">
        <div class="col-md-8 col-md-offset-2">
            <form (ngSubmit)="onSubmit()" #timeslotUpdateForm="ngForm">

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           required
                           name="name"
                           [(ngModel)]="timeSlotModel.name"
                           #name="ngModel"
                    >
                    <div [hidden]="name.valid || name.pristine"
                         class="alert alert-danger">
                        Name is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="time1">Time 1</label>
                    <input
                            type="text"
                            [textMask]="{mask: timeMask}"
                            [(ngModel)]="timeSlotModel.time1"
                            #time1="ngModel"
                            name="time1"
                            id="time1"
                            class="form-control"
                            required
                    />
                    <div [hidden]="time1.valid || time1.pristine" class="alert alert-danger">
                        Time 1 is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="time2">Time 2</label>
                    <input
                            type="text"
                            [textMask]="{mask: timeMask}"
                            [(ngModel)]="timeSlotModel.time2"
                            #time2="ngModel"
                            name="time2"
                            id="time2"
                            class="form-control"
                            required
                    />
                    <div [hidden]="time2.valid || time2.pristine" class="alert alert-danger">
                        Time 2 is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Date 1</label>
                    <my-date-picker
                            #date1="ngModel"
                            id="date1"
                            name="date1"
                            [options]="myDatePickerDateOptions"
                            [(ngModel)]="timeSlotModel.date1"
                    >
                    </my-date-picker>
                </div>
                <div class="form-group">
                    <label for="name">Date 2</label>
                    <my-date-picker
                            #date2="ngModel"
                            id="date2"
                            name="date2"
                            [options]="myDatePickerDateOptions"
                            [(ngModel)]="timeSlotModel.date2"
                    >
                    </my-date-picker>
                </div>

                <div class="form-group"><!--|| isValidSplitData-->
                    <button type="submit" class="btn btn-success"
                            [disabled]="!timeslotUpdateForm.form.valid || displayLoadingBlock "
                            style="width: 100%; float: right;"
                    >
                        <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;&nbsp;Update &nbsp;&nbsp;<i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                </div>

                <br>
                <br>
                <br>

            </form>

        </div>
    </div>
</ng-container>


