<h1>Time slots page <i class="fa fa-clock-o" aria-hidden="true"></i></h1>
<!--TO DEBUG MODEL STATUS UNCOMMENT THIS: {{diagnostic}}-->

<div class="alert alert-warning" [hidden]="(errorText == '')">
    <strong>Oops! <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong> {{errorText}}
</div>
<div class="alert alert-success" [hidden]="(successText == '')">
    <strong>Great! <i class="fa fa-grav" aria-hidden="true"></i></strong> {{successText}}
</div>

<div class="col-md-8">
    <h3>All Timeslots</h3>

    <div [hidden]="!hideLoadingBlock">
        <div class="col-md-12 text-center">
            <img src="/build/assets/pre-loader.gif">
        </div>
    </div>

    <table class="table" [hidden]="hideLoadingBlock">
        <thead class="thead-inverse table-striped table-bordered" style="color: white; background-color: #333;">
        <tr>
            <th># (id)</th>
            <th>Name</th>
            <th>Time 1</th>
            <th>Time 2</th>
            <th>Date 1</th>
            <th>Date 2</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let record of timeSlotRecords">
            <th scope="row">{{record.timeslot_id}}</th>
            <td>{{record.name}}</td>
            <td>{{record.time1}}</td>
            <td>{{record.time2}}</td>
            <td *ngIf="record.date1">{{transformDate(record.date1)}}</td>
            <td *ngIf="!record.date1">(Not set)</td>
            <td *ngIf="record.date2">{{transformDate(record.date2)}}</td>
            <td *ngIf="!record.date2">(Not set)</td>
            <td>
                <a class="btn btn-primary" [routerLink]="'/time-slots/update/' + record.timeslot_id" title="Update">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class="btn btn-danger" (click)="deleteTimeslot(record.timeslot_id, record.name)" title="Delete">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<div class="col-md-4">
    <h3>Create Timeslot</h3>
    <form (ngSubmit)="onSubmit();" #createTimeslotForm="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text"
                   class="form-control"
                   id="name"
                   required
                   name="name"
                   placeholder="Type new timeslot name here"
                   [(ngModel)]="timeSlotsModel.name"
                   #name="ngModel"
            >
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Name is required
            </div>
        </div>
        <div class="form-group">
            <label for="time1">Time 1</label>
            <input
                    type="text"
                    [textMask]="{mask: timeMask}"
                    [(ngModel)]="timeSlotsModel.time1"
                    #time1="ngModel"
                    name="time1"
                    id="time1"
                    class="form-control"
                    required
            />
            <div [hidden]="time1.valid || time1.pristine" class="alert alert-danger">
                Time 1 is required
            </div>
        </div>
        <div class="form-group">
            <label for="time2">Time 2</label>
            <input
                    type="text"
                    [textMask]="{mask: timeMask}"
                    [(ngModel)]="timeSlotsModel.time2"
                    #time2="ngModel"
                    name="time2"
                    id="time2"
                    class="form-control"
                    required
            />
            <div [hidden]="time2.valid || time2.pristine" class="alert alert-danger">
                Time 2 is required
            </div>
        </div>
        <div class="form-group">
            <label for="name">Date 1</label>
            <my-date-picker
                    #date1="ngModel"
                    id="date1"
                    name="date1"
                    [options]="myDatePickerDateOptions"
                    [(ngModel)]="timeSlotsModel.date1"
            >
            </my-date-picker>
        </div>
        <div class="form-group">
            <label for="name">Date 2</label>
            <my-date-picker
                    #date2="ngModel"
                    id="date2"
                    name="date2"
                    [options]="myDatePickerDateOptions"
                    [(ngModel)]="timeSlotsModel.date2"
            >
            </my-date-picker>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-success"
                    [disabled]="!createTimeslotForm.form.valid || hideLoadingBlock"
                    style="width: 30%; float: right;">
                &nbsp;&nbsp;Create <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
        </div>
    </form>
</div>