<h1>Substitutes page <i class="fa fa-list-ul" aria-hidden="true"></i></h1>
<!--TO DEBUG MODEL STATUS UNCOMMENT THIS: {{diagnostic}}-->
<!--TO DEBUG MODEL STATUS UNCOMMENT THIS: {{diagnosticPhrase}}-->

<div class="alert alert-warning" [hidden]="!errorText">
    <strong>Oops! <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong> {{errorText}}
</div>

<div class="alert alert-success" [hidden]="(successText == '')">
    <strong>Great! <i class="fa fa-grav" aria-hidden="true"></i></strong> {{successText}}
</div>

<div [hidden]="!displayLoadingBlock">
    <div class="col-md-12 text-center">
        <img src="/build/assets/pre-loader.gif">
    </div>
</div>

<div class="col-md-12" [hidden]="displayLoadingBlock">

    <ng-container *ngIf="substitutionModel">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Substitute</div>
                <div class="panel-body text-center">
                    <div class="form-group">
                    <textarea
                            style="height: 100px; overflow: auto; resize: none;"
                            class="form-control"
                            name="substitutionModelText"
                            [(ngModel)]="substitutionModel.text"
                    >
                    </textarea>
                    </div>
                    <div class="form-group">
                        &nbsp;&nbsp;&nbsp;
                        <button class="btn btn-success" type="button" [disabled]="(substitutionModel.text == '')" (click)="createSubstitute()">
                            Create <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        &nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary" type="button" [disabled]="(substitutionModel.text == '')" (click)="updateSubstitute()">
                            Update <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                        &nbsp;&nbsp;&nbsp;
                        <button class="btn btn-danger" type="button" [disabled]="(substitutionModel.text == '')" (click)="deleteSubstitute()">
                            Delete <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        &nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>

            <div class="list-group text-center {{disableSubstitutesListItemsClass}}">
                <a *ngFor="let sub of availableSubstitutes"
                   (click)="
                    substitutionModel.id = sub.substitute_id;
                    substitutionModel.text = sub.phrase;
                    updateSubstitutePhrases()
                "
                   [attr.class]="(substitutionModel.id == sub.substitute_id) ? 'list-group-item active' : 'list-group-item'"
                >
                    {{sub.phrase}}
                </a>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="substitutionPhraseModel">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Substitute phrase</div>
                <div class="panel-body text-center">
                    <div class="form-group">
                    <textarea
                            style="height: 100px; overflow: auto; resize: none;"
                            class="form-control"
                            name="substitutionModelText"
                            [(ngModel)]="substitutionPhraseModel.text"
                    >
                    </textarea>
                    </div>
                    <div class="form-group">
                        &nbsp;&nbsp;&nbsp;
                        <button class="btn btn-success" type="button" [disabled]="(substitutionPhraseModel.text == '')" (click)="createSubstitutePhrase()">
                            Create <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        &nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary" type="button" [disabled]="(substitutionPhraseModel.text == '')" (click)="updateSubstitutePhrase()">
                            Update <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                        &nbsp;&nbsp;&nbsp;
                        <button class="btn btn-danger" type="button" [disabled]="(substitutionPhraseModel.text == '')" (click)="deleteSubstitutePhrase()">
                            Delete <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        &nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>

            <div class="list-group text-center {{disableSubstitutePhraseListItemsClass}}">
                <a *ngFor="let phraseSub of availablePhraseSubstitutes"
                   (click)="
                    substitutionPhraseModel.id = phraseSub.substitute_phrase_id;
                    substitutionPhraseModel.text = phraseSub.phrase;
                "
                   [attr.class]="(substitutionPhraseModel.id == phraseSub.substitute_phrase_id) ? 'list-group-item active' : 'list-group-item'"
                >
                    {{phraseSub.phrase}}
                </a>
            </div>

        </div>
    </ng-container>

</div>


