<ng-container *ngIf="!settingsModel">
    <div class="col-md-12 text-center">
        <img src="/build/assets/loader.gif" style="margin-top: 10%;">
    </div>
</ng-container>

<ng-container *ngIf="settingsModel">
    <h1>Update setting - "{{settingsModel.name}}" <i class="fa fa-cog" aria-hidden="true"></i></h1>

    <a class="btn btn-sm btn-primary"  [routerLink]="'/settings-ng'">
        <span class="glyphicon glyphicon-arrow-left"></span> &nbsp;&nbsp;Return to all settings
    </a>

    <br>
    <br>

    <div class="alert alert-warning" [hidden]="(errorText == '')">
        <strong>Oops! <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong> {{errorText}}
    </div>

    <div class="alert alert-success" [hidden]="(successText == '')">
        <strong>Great! <i class="fa fa-grav" aria-hidden="true"></i></strong> {{successText}}
    </div>

    <div [hidden]="!displayLoadingBlock">
        <div class="col-md-12 text-center">
            <img src="/build/assets/pre-loader.gif">
        </div>
    </div>

    <div class="col-md-12" [hidden]="displayLoadingBlock">
        <form (ngSubmit)="onSubmit()" #settingsUpdateForm="ngForm">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Setting Scenarios</div>
                    <div class="panel-body" [dragula]='"setting-scenarios-bag"' [dragulaModel]='settingsModel.scenarios'>
                        <p *ngFor="let scenario of settingsModel.scenarios; let i = index" style="margin-bottom: 4px;">
                            <ng-container *ngIf="scenario">
                                {{ i + 1 }}.
                                <a (click)="unsetModelScenario(i)">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a> {{scenario.name}}
                                <span *ngIf="scenario.isFixed">
                                    <input type="checkbox" checked (change)="toggleIsFixed(i)">
                                </span>
                                <span *ngIf="!scenario.isFixed">
                                    <input type="checkbox" (change)="toggleIsFixed(i)">
                                </span>
                            </ng-container>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <button type="submit" class="btn btn-success"
                            [disabled]="!settingsUpdateForm.form.valid || displayLoadingBlock || !isValidSplitData()"
                            style="width: 100%; float: right;"
                    >
                        <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;&nbsp;Update &nbsp;&nbsp;<i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                </div>

                <br>
                <br>
                <br>

                <div class="form-group">
                    <label for="name">Setting Name</label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           required
                           name="name"
                           [(ngModel)]="settingsModel.name"
                           #name="ngModel"
                    >
                    <div [hidden]="name.valid || name.pristine"
                         class="alert alert-danger">
                        Name is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="controlProfile">Control Profile</label>
                    <select class="form-control"
                            id="controlProfile"
                            required
                            name="controlProfile"
                            [(ngModel)]="settingsModel.controlProfile"
                    >
                        <option *ngFor="let controlProfile of dataHolders['availableProfiles'].controlProfiles" [value]="controlProfile">
                            {{ controlProfile }}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="targetProfile">Target Profile</label>
                    <select class="form-control"
                            id="targetProfile"
                            required
                            name="targetProfile"
                            [(ngModel)]="settingsModel.targetProfile"
                    >
                        <option *ngFor="let targetProfile of dataHolders['availableProfiles'].targetProfiles" [value]="targetProfile">
                            {{ targetProfile }}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="active">Is Active</label>
                    <select class="form-control"
                            id="active"
                            required
                            name="active"
                            [(ngModel)]="settingsModel.isActive"
                    >
                        <option [value]="0">Not Active</option>
                        <option [value]="1">Active</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="projects">Projects</label>
                    <ss-multiselect-dropdown
                            id="projects" #projects="ngModel"
                            [texts]="multiSelectTexts"
                            [settings]="multiSelectSettings"
                            [options]="dataHolders.availableProjects"
                            [(ngModel)]="settingsModel.projects"
                            name="projects"
                    >
                    </ss-multiselect-dropdown>
                </div>

                <div class="form-group">
                    <label for="countries">Countries</label>
                    <ss-multiselect-dropdown
                            id="countries" #countries="ngModel"
                            [texts]="multiSelectTexts"
                            [settings]="multiSelectSettings"
                            [options]="dataHolders.availableCountries"
                            [(ngModel)]="settingsModel.countries"
                            name="countries"
                    >
                    </ss-multiselect-dropdown>
                </div>

                <div class="form-group">
                    <label for="locales">Locales</label>
                    <ss-multiselect-dropdown
                            id="locales" #locales="ngModel"
                            [texts]="multiSelectTexts"
                            [settings]="multiSelectSettings"
                            [options]="dataHolders.availableLocales"
                            [(ngModel)]="settingsModel.locales"
                            name="locales"
                            required
                    >
                    </ss-multiselect-dropdown>
                    <div [hidden]="locales.valid || locales.pristine"
                         class="alert alert-danger">
                        Locales is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="senderLocales">Sender locales</label>
                    <ss-multiselect-dropdown
                            id="senderLocales" #senderLocales="ngModel"
                            [texts]="multiSelectTexts"
                            [settings]="multiSelectSettings"
                            [options]="dataHolders.availableLocales"
                            [(ngModel)]="settingsModel.senderLocales"
                            name="senderLocales"
                            required
                    >
                    </ss-multiselect-dropdown>
                    <div [hidden]="senderLocales.valid || senderLocales.pristine"
                         class="alert alert-danger">
                        Sender locales is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="statuses">Statuses</label>
                    <ss-multiselect-dropdown
                            id="statuses" #statuses="ngModel"
                            [texts]="multiSelectTexts"
                            [settings]="multiSelectSettings"
                            [options]="dataHolders.availableStatuses"
                            [(ngModel)]="settingsModel.statuses"
                            name="statuses"
                    >
                    </ss-multiselect-dropdown>
                </div>

                <div class="form-group">
                    <label for="multipleSitesAdd">Multiple sites addition</label>
                    <textarea
                            style="height: 100px; overflow: auto; resize: none;"
                            id="multipleSitesAdd"
                            class="form-control"
                            placeholder="Multiple sites string (with space separator)"
                            name="multipleSitesAdd"
                            [(ngModel)]="multipleSitesAdd"
                    >
                    </textarea>
                    <button type="button" class="btn btn-primary" style="width: 100%;" (click)="parseMultiSitesString()">
                        Parse sites string
                    </button>
                </div>

                <div class="form-group">
                    <label for="sites">Sites</label>
                    <ss-multiselect-dropdown
                            id="sites" #sites="ngModel"
                            [texts]="multiSelectTexts"
                            [settings]="multiSelectSettings"
                            [options]="dataHolders.availableSites"
                            [(ngModel)]="settingsModel.sites"
                            name="sites"
                    >
                    </ss-multiselect-dropdown>
                </div>

                <div class="form-group">
                    <label for="traffSources">TraffSources</label>
                    <ss-multiselect-dropdown
                            id="traffSources" #traffSources="ngModel"
                            [texts]="multiSelectTexts"
                            [settings]="multiSelectSettings"
                            [options]="dataHolders.availableTraffSources"
                            [(ngModel)]="settingsModel.traffSources"
                            name="traffSources"
                    >
                    </ss-multiselect-dropdown>
                </div>

                <div class="form-group">
                    <label for="actionWays">ActionWays</label>
                    <ss-multiselect-dropdown
                            id="actionWays" #actionWays="ngModel"
                            [texts]="multiSelectTexts"
                            [settings]="multiSelectSettings"
                            [options]="dataHolders.availableActionWays"
                            [(ngModel)]="settingsModel.actionWays"
                            name="actionWays"
                    >
                    </ss-multiselect-dropdown>
                </div>

                <div class="form-group">
                    <label for="traffTypes">TraffTypes</label>
                    <ss-multiselect-dropdown
                            id="traffTypes" #traffTypes="ngModel"
                            [texts]="multiSelectTexts"
                            [settings]="multiSelectSettings"
                            [options]="dataHolders.availableTraffTypes"
                            [(ngModel)]="settingsModel.traffTypes"
                            name="traffTypes"
                    >
                    </ss-multiselect-dropdown>
                </div>

                <div class="form-group">
                    <label for="platforms">Platforms</label>
                    <ss-multiselect-dropdown
                            id="platforms" #platforms="ngModel"
                            [texts]="multiSelectTexts"
                            [settings]="multiSelectSettings"
                            [options]="dataHolders.availablePlatforms"
                            [(ngModel)]="settingsModel.platforms"
                            name="platforms"
                    >
                    </ss-multiselect-dropdown>
                </div>

                <div class="form-group">
                    <label for="fanClubs">FanClubs</label>
                    <ss-multiselect-dropdown
                            id="fanClubs" #fanClubs="ngModel"
                            [texts]="multiSelectTexts"
                            [settings]="multiSelectSettings"
                            [options]="dataHolders.availableFanClubs"
                            [(ngModel)]="settingsModel.fanClubs"
                            name="fanClubs"
                    >
                    </ss-multiselect-dropdown>
                </div>

                <div class="form-group">
                    <label for="onlines">Onlines</label>
                    <ss-multiselect-dropdown
                            id="onlines" #onlines="ngModel"
                            [texts]="multiSelectTexts"
                            [settings]="multiSelectSettings"
                            [options]="dataHolders.availableOnlines"
                            [(ngModel)]="settingsModel.onlineStatuses"
                            name="onlines"
                    >
                    </ss-multiselect-dropdown>
                </div>

                <br>

                <div class="form-group">
                    <div class="col-md-6">
                        <label for="splitName">Split Name</label>
                        <input type="text"
                               class="form-control"
                               id="splitName"
                               name="splitName"
                               [(ngModel)]="settingsModel.splitName"
                               #splitName="ngModel"
                        >
                        <div [hidden]="isValidSplitData()"
                             class="alert alert-danger">
                            You must specify both split values.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="splitGroup">Split Group</label>
                        <input type="number"
                               class="form-control"
                               id="splitGroup"
                               name="splitGroup"
                               [(ngModel)]="settingsModel.splitGroup"
                               #splitGroup="ngModel"
                        >
                        <div [hidden]="isValidSplitData()"
                             class="alert alert-danger">
                            You must specify both split values.
                        </div>
                    </div>
                </div>

                <br>
                <br>
                <br>
                <br>

                <div class="form-group">
                    <button type="submit" class="btn btn-success"
                            [disabled]="!settingsUpdateForm.form.valid || displayLoadingBlock || !isValidSplitData()"
                            style="width: 100%; float: right;"
                    >
                        <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;&nbsp;Update &nbsp;&nbsp;<i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                </div>

                <br>
                <br>
                <br>
            </div>
        </form>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Available Scenarios
                    <input type="text"
                           class="form-control"
                           placeholder="Filter scenarios"
                           name="scenarioFilter"
                           [(ngModel)]="scenarioFilter"
                           (change)="filterScenarios()"
                    >
                </div>
                <div class="panel-body">
                    <p style="margin-bottom: 2px;" *ngFor="let scenario of dataHolders.availableScenarios; let i = index">
                        <ng-container *ngIf="i <= 60">
                            <a href="javascript:void(0);"
                               (click)="settingsModel.scenarios.push({'id': scenario.id, 'name': scenario.name, 'isFixed': false})"
                            >
                                {{scenario.name}}
                            </a>
                        </ng-container>
                    </p>
                </div>
            </div>
        </div>

    </div>
</ng-container>


