<h1>Settings page <i class="fa fa-cogs" aria-hidden="true"></i></h1>
<!--TO DEBUG MODEL STATUS UNCOMMENT THIS: {{diagnostic}}-->

<div class="alert alert-warning" [hidden]="(errorText == '')">
    <strong>Oops! <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong> {{errorText}}
</div>
<div class="alert alert-success" [hidden]="(successText == '')">
    <strong>Great! <i class="fa fa-grav" aria-hidden="true"></i></strong> {{successText}}
</div>

<div class="col-md-12">
    <h3>All Settings</h3>

    <div [hidden]="!displayLoadingBlock">
        <div class="col-md-12 text-center">
            <img src="/build/assets/pre-loader.gif">
        </div>
    </div>

    <button type="button" class="btn btn-lg btn-primary" (click)="displaySettingsForm = !displaySettingsForm" style="float: right;">
        {{!displaySettingsForm ? 'Hide' : 'Show'}} Create Form
    </button>

    <div class="col-md-12" [hidden]="displaySettingsForm">
        <h3>Create Setting Form</h3>
        <form (ngSubmit)="onSubmit(); createSettingForm.reset();" #createSettingForm="ngForm">
            <div class="form-group">
                <label for="name">Setting Name</label>
                <input type="text"
                       class="form-control"
                       id="name"
                       required
                       name="name"
                       placeholder="Type new setting name here"
                       [(ngModel)]="settingsModel.name"
                       #text="ngModel"
                >
                <div [hidden]="text.valid || text.pristine" class="alert alert-danger">
                    Name is required
                </div>
            </div>
            <div class="form-group">
                <label for="controlProfile">Control Profile</label>
                <select class="form-control"
                        id="controlProfile"
                        required
                        name="controlProfile"
                        [(ngModel)]="settingsModel.controlProfile"
                        [disabled]="disableControlSelect"
                >
                    <option *ngFor="let controlProfile of controlProfiles" [value]="controlProfile">
                        {{ controlProfile }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="targetProfile">Target Profile</label>
                <select class="form-control"
                        id="targetProfile"
                        required
                        name="targetProfile"
                        [(ngModel)]="settingsModel.targetProfile"
                        [disabled]="disableTargetSelect"
                >
                    <option *ngFor="let targetProfile of targetProfiles" [value]="targetProfile">
                        {{ targetProfile }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-success"
                        [disabled]="!createSettingForm.form.valid || displayLoadingBlock"
                        style="width: 30%; float: right;">
                    &nbsp;&nbsp;Create <span class="glyphicon glyphicon-plus-sign"></span>
                </button>
            </div>
        </form>
        <br>
        <br>
        <br>
    </div>

    <table class="table {{ disableDragClass }}" [hidden]="displayLoadingBlock">
        <thead class="thead-inverse table-striped table-bordered" style="color: white; background-color: #333;">
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Name</th>
                <th>Control Profile</th>
                <th>Scenarios</th>
                <th>Traffic sources</th>
                <th>Split Name</th>
                <th>Split Group</th>
                <th>Fan club</th>
                <th>Onlines</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody [dragula]='"settings-bag"' [dragulaModel]='settingRecords'>
            <tr *ngFor="let record of settingRecords; let i = index" [attr.data-id]="record.id">
                <td>{{i + 1}}</td>
                <th scope="row">{{record.id}}</th>
                <td>{{record.name}}</td>
                <td>{{record.control_profile}}</td>

                <td *ngIf="!settingRelations[i] || !settingRelations[i].scenarios">(Not set)</td>
                <td *ngIf="settingRelations[i] && settingRelations[i].scenarios">
                    <ng-container *ngFor="let scenario of settingRelations[i].scenarios; let i = index;">
                        <ng-container *ngIf="i <= 10">
                            {{ scenario.name }} <br>
                        </ng-container>
                    </ng-container>
                </td>

                <td *ngIf="!settingRelations[i] || !settingRelations[i].trafficSources">(Not set)</td>
                <td *ngIf="settingRelations[i] && settingRelations[i].trafficSources">
                    <ng-container *ngFor="let trafSource of settingRelations[i].trafficSources; let i = index;">
                        <ng-container *ngIf="i <= 10">
                            {{ trafSource }} <br>
                        </ng-container>
                    </ng-container>
                </td>

                <td *ngIf="record.splitName">{{record.splitName}}</td>
                <td *ngIf="!record.splitName">(Not set)</td>
                <td *ngIf="record.splitGroup">{{record.splitGroup}}</td>
                <td *ngIf="!record.splitGroup">(Not set)</td>


                <td *ngIf="!record.fanClubs || !record.fanClubs.length">(Not set)</td>
                <td *ngIf="record.fanClubs && record.fanClubs.length">
                    <ng-container *ngFor="let fanClub of record.fanClubs">
                        {{ fanClub.is_fan_club_allowed == '1' ? 'allow ' :  'disallow '}} <br>
                    </ng-container>
                </td>

                <td *ngIf="!record.onlines || !record.onlines.length">(Not set)</td>
                <td *ngIf="record.onlines && record.onlines.length">
                    <ng-container *ngFor="let online of record.onlines">
                        {{ online.is_online == '1' ? 'online ' :  'offline '}} <br>
                    </ng-container>
                </td>

                <td>
                    <a *ngIf="record.active=='0'" class="btn btn-success" (click)="toggleSettingActiveStatus(record.id)" title="Activate">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                    <a *ngIf="record.active=='1'" class="btn btn-warning" (click)="toggleSettingActiveStatus(record.id)" title="DeActivate">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    <a class="btn btn-primary" [routerLink]="'/settings-ng/update/'+record.id" title="Update">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default" (click)="copySetting(record.id, record.name)" title="Copy">
                        <span class="glyphicon glyphicon-copy"></span>
                    </a>
                    <a class="btn btn-danger" (click)="deleteSetting(record.id, record.name)" title="Delete">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>





