<h1>Topics <i class="fa fa-ellipsis-v" aria-hidden="true"></i></h1>

<div class="alert alert-warning fade in alert-dismissable" [hidden]="!errorText">
    <strong>Oops! <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong> {{errorText}}
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
</div>

<div class="alert alert-success fade in alert-dismissable" [hidden]="!successText">
    <strong>Great! <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></strong> {{successText}}
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
</div>

<div class="col-md-12 text-center" [hidden]="!displayLoadingBlock">
    <img src="/build/assets/pre-loader.gif">
</div>

<div class="col-md-12" [hidden]="displayLoadingBlock"> <!-- || displayTestBlock -->

    <div [attr.class]="getTopicsColumnClass()">

        <h4 class="text-right">
            <span class="glyphicon glyphicon-plus-sign"
                  style="cursor: pointer; color: green;"
                  title="Create new topic"
                  [attr.data-toggle]="'modal'" [attr.data-target]="'#createTopicModal'"
                  data-backdrop="static" data-keyboard="false"
            >
            </span>
            &nbsp;&nbsp;
            <span class="glyphicon glyphicon-indent-{{!topicsColumnCollapse ? 'right' : 'left'}}"
                  style="cursor: pointer;"
                  (click)="topicsColumnCollapse = !topicsColumnCollapse"
            ></span>
        </h4>

        <div *ngIf="availableTopics"
             class="list-group {{disableListGroups ? 'disableListItems' : ''}}"
             [dragula]='"topics-bag"'
             [dragulaModel]='availableTopics'
        >
            <a *ngFor="let topicData of availableTopics"
               class="list-group-item {{(topicData.topic_id == topicModel.topic_id) ? 'active' : ''}}"
               (click)="topicData.topic_id == topicModel.topic_id ? false : changeTopic(topicData)"
               [attr.data-id]="topicData.topic_id"
            >
                <span>{{topicData.name}}</span>

                <span *ngIf="!topicsColumnCollapse" style="display: block; float: right;">
                    <span class="glyphicon glyphicon-user {{ topicData.switching ? 'activeIcon' : ''}}"></span>
                    <span class="glyphicon glyphicon-signal {{ topicData.active ? 'activeIcon' : '' }}"></span>
                    <span class="glyphicon glyphicon-off {{ topicData.enabled ? 'activeIcon' : '' }}"></span>
                    <a style="color: inherit;" title="Open edit modal" data-backdrop="static" data-keyboard="false"
                       (click)="openUpdateTopicModal(topicData)">
                        <span class="glyphicon glyphicon-modal-window"></span>
                    </a>
                </span>
            </a>

        </div>

    </div>

    <div [attr.class]="getTopicsPhrasesColumnClass()">

        <h4 class="text-right">
             <span class="glyphicon glyphicon-plus-sign"
                   style="cursor: pointer; color: green;"
                   title="Create new topic rule"
                   [attr.data-toggle]="'modal'" [attr.data-target]="'#createTopicRuleModal'"
                   data-backdrop="static" data-keyboard="false"
             >
            </span>
            &nbsp;&nbsp;
            <span class="glyphicon glyphicon-indent-{{!topicsRulesColumnCollapse ? 'right' : 'left'}}"
                  style="cursor: pointer;"
                  (click)="topicsRulesColumnCollapse = !topicsRulesColumnCollapse"
            ></span>
        </h4>

        <div *ngIf="availableRules"
             class="list-group
             {{disableListGroups ? 'disableListItems' : ''}}"
             [dragula]='"rules-bag"'
             [dragulaModel]='availableRules'
        >
            <a *ngFor="let ruleData of availableRules"
               class="list-group-item {{(ruleData.rule_id == topicRuleModel.rule_id) ? 'active' : ''}}"
               (click)="ruleData.rule_id == topicRuleModel.rule_id ? false : changeRule(ruleData)"
               [attr.data-id]="ruleData.rule_id"
            >
                <span>{{ruleData.name}}</span>

                <span *ngIf="!topicsRulesColumnCollapse" style="display: block; float: right;">
                     <span class="glyphicon glyphicon-ok {{ ruleData.exclude_template ? 'activeIcon' : ''}}"></span>
                    <span class="glyphicon glyphicon-signal {{ ruleData.active ? 'activeIcon' : '' }}"></span>
                    <span class="glyphicon glyphicon-off {{ ruleData.enabled ? 'activeIcon' : '' }}"></span>
                    <a style="color: inherit;" [attr.data-toggle]="'modal'" [attr.data-target]="'#ruleModal' + ruleData.rule_id" title="Open edit modal" data-backdrop="static" data-keyboard="false">
                        <span class="glyphicon glyphicon-modal-window"></span>
                    </a>
                </span>
            </a>

        </div>

    </div>

    <div [attr.class]="getFormsColumnClass()">

        <!-- Tabs pills -->
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#patterns">Patterns</a></li>
            <li><a data-toggle="tab" href="#templates">Templates</a></li>
            <li><a data-toggle="tab" href="#excPatterns">Exc. patterns</a></li>
            <li><a data-toggle="tab" href="#subRules">Sub rules</a></li>
            <li><a data-toggle="tab" href="#learningPhrases">Learning phrases</a></li>
        </ul>

        <!-- Tabs content -->
        <div class="tab-content">

            <!-- Patterns  tab -->
            <div id="patterns" class="tab-pane fade in active">
                <form #rulePatternsForm="ngForm" *ngIf="rulePatternsModel" class="topicRulesForms">
                    <div class="form-group">
                        <input
                                type="text"
                                class="form-control"
                                required
                                name="rulePatternTest"
                                placeholder="Rule name"
                                [(ngModel)]="rulePatternsModel.test"
                                #rulePatternTest="ngModel"
                        >
                        <div [hidden]="rulePatternTest.valid || rulePatternTest.pristine" class="alert alert-danger">
                            Test text is required
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea
                                class="form-control"
                                required
                                name="rulePatternText"
                                placeholder="Rule name"
                                [(ngModel)]="rulePatternsModel.text"
                                #rulePatternText="ngModel"
                        ></textarea>
                        <div [hidden]="rulePatternText.valid || rulePatternText.pristine" class="alert alert-danger">
                            RegExp is required
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default {{rulePatternsModel.active ? 'activeButton' : ''}}" style="width: 49%; margin: 2px;" (click)="rulePatternsModel.active = !rulePatternsModel.active;updatePattern(true);">
                            {{ rulePatternsModel.active ? 'Active' : 'Inactive' }} &nbsp;<span class="glyphicon glyphicon-signal"></span>
                        </button>
                        <button class="btn btn-default" style="width: 47%; margin: 2px;" (click)="testPattern()">
                            Test &nbsp; <span class="glyphicon glyphicon-text-size"></span>
                        </button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger" style="width: 33%" (click)="deletePattern()">
                            Delete &nbsp; <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <button class="btn btn-default" style="width: 33%" (click)="checkedPatterns.length > 1 ? copyPatterns() : copyPattern()">
                            Copy&nbsp; <span class="glyphicon glyphicon-copy"></span>
                        </button>
                        <button class="btn btn-success" style="width: 32%" (click)="createPattern()" [disabled]="!rulePatternsForm.form.valid || !isValidFormByAdditionalConditions">
                            Add &nbsp;<span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-default" (click)="checkAllItems('rulePatterns' ,'checkedPatterns', 'pattern_id')" title="Check all patterns" style="width: 24%">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                        </button>
                        <button type="button" class="btn btn-default" (click)="uncheckAllItems('checkedPatterns')" title="UnCheck all patterns" style="width: 24%">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                        <button class="btn btn-primary" style="width: 47%; margin: 2px;" (click)="updatePattern()" [disabled]="!rulePatternsForm.form.valid || !isValidFormByAdditionalConditions">
                            Update &nbsp;<span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            <select class="form-control"
                                    name="regexpVariable"
                                    [(ngModel)]="rulePatternVariableModel.variable_id"
                            >
                                <option value="null">No variable</option>
                                <option *ngFor="let patternVar of availableRulePatternVariables" [value]="patternVar.variable_id">
                                    {{ patternVar.name }}
                                </option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <select class="form-control"
                                    name="regexpIndexContent"
                                    [(ngModel)]="rulePatternVariableModel.index_content"
                            >
                                <option value="null">No regexp</option>
                                <option *ngFor="let regPart of availablePatternsRegexpParts; let i = index" [value]="i">
                                    {{ regPart }}
                                </option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary" style="width:100%" (click)="setPatternVar()">
                                Set
                            </button>
                        </div>
                    </div>
                    <br>
                    <br>
                </form>

                <div *ngIf="rulePatterns" class="list-group {{disableListGroups ? 'disableListItems' : ''}}" style="margin-top: 15px;">
                    <a *ngFor="let rulePattern of rulePatterns"
                       class="list-group-item {{(rulePattern.pattern_id == rulePatternsModel.pattern_id) ? 'active' : ''}}"
                       (click)="changeActivePattern(rulePattern)"
                    >
                        <input
                                (change)="checkItem('checkedPatterns', rulePattern.pattern_id)"
                                [checked]="checkedPatterns.indexOf(rulePattern.pattern_id) !== -1"
                                type="checkbox"
                        >&nbsp;&nbsp;&nbsp;
                        <span class="glyphicon glyphicon-signal {{ rulePattern.active ? 'activeIcon' : '' }}"></span>
                        {{rulePattern.test}}
                    </a>
                </div>

            </div>

            <!-- Templates  tab -->
            <div id="templates" class="tab-pane fade in">
                <form #ruleTemplatesForm="ngForm" *ngIf="ruleTemplatesModel" class="topicRulesForms">
                    <div class="form-group">
                        <textarea
                                class="form-control"
                                required
                                name="rulePatternText"
                                placeholder="Rule name"
                                [(ngModel)]="ruleTemplatesModel.text"
                                #rulePatternText="ngModel"
                        ></textarea>
                        <div [hidden]="rulePatternText.valid || rulePatternText.pristine" class="alert alert-danger">
                            Text is required
                        </div>
                    </div>

                    <div class="form-group">
                        <select class="form-control"
                                name="role"
                                [(ngModel)]="ruleTemplatesModel.timeslot_id"
                        >
                            <option value="null">Choose timeslot</option>
                            <option *ngFor="let timeslot of availableTimeSlots" [value]="timeslot.timeslot_id">
                                {{ timeslot.name }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-danger" style="width: 49%" (click)="deleteTemplate()">
                            Delete &nbsp; <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <button class="btn btn-success" style="width: 48%" (click)="createMultiTemplate()" [disabled]="!ruleTemplatesForm.form.valid || !isValidFormByAdditionalConditions">
                            Add &nbsp;<span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-default" (click)="checkAllItems('ruleTemplates' ,'checkedTemplates', 'template_id')" title="Check all templates" style="width: 24%">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                        </button>
                        <button type="button" class="btn btn-default" (click)="uncheckAllItems('checkedTemplates')" title="UnCheck all templates" style="width: 24%">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                        <button class="btn btn-primary" style="width: 47%; margin: 2px;" (click)="updateTemplate()" [disabled]="!ruleTemplatesForm.form.valid || !isValidFormByAdditionalConditions">
                            Update &nbsp;<span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </div>
                </form>

                <div *ngIf="ruleTemplates" class="list-group {{disableListGroups ? 'disableListItems' : ''}}" style="margin-top: 15px;">
                    <a *ngFor="let ruleTemplate of ruleTemplates"
                       class="list-group-item {{(ruleTemplate.template_id == ruleTemplatesModel.template_id) ? 'active' : ''}}"
                       (click)="ruleTemplatesModel.load(ruleTemplate);"
                    >
                        <input
                                (change)="checkItem('checkedTemplates', ruleTemplate.template_id)"
                                [checked]="checkedTemplates.indexOf(ruleTemplate.template_id) !== -1"
                                type="checkbox"
                        >&nbsp;&nbsp;&nbsp;
                        <span>
                            {{ruleTemplate.text}}
                        </span>
                    </a>
                </div>
            </div>

            <!-- Exc. patterns  tab -->
            <div id="excPatterns" class="tab-pane fade in">
                <form #ruleExcPatternsForm="ngForm" *ngIf="ruleExcPatternsModel" class="topicRulesForms">
                    <div class="form-group">
                        <input
                                type="text"
                                class="form-control"
                                required
                                name="ruleExcPatternTest"
                                placeholder="Name"
                                [(ngModel)]="ruleExcPatternsModel.test"
                                #ruleExcPatternTest="ngModel"
                        >
                        <div [hidden]="ruleExcPatternTest.valid || ruleExcPatternTest.pristine" class="alert alert-danger">
                            Test text is required
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea
                                class="form-control"
                                required
                                name="ruleExcPatternText"
                                placeholder="Regular exp"
                                [(ngModel)]="ruleExcPatternsModel.text"
                                #ruleExcPatternText="ngModel"
                        ></textarea>
                        <div [hidden]="ruleExcPatternText.valid || ruleExcPatternText.pristine" class="alert alert-danger">
                            RegExp is required
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-default {{ruleExcPatternsModel.active ? 'activeButton' : ''}}" style="width: 49%; margin: 2px;"(click)="ruleExcPatternsModel.active = !ruleExcPatternsModel.active;updateExcPattern();">
                            {{ ruleExcPatternsModel.active ? 'Active' : 'Inactive' }} &nbsp;<span class="glyphicon glyphicon-signal"></span>
                        </button>
                        <button class="btn btn-default" style="width: 47%; margin: 2px;" (click)="testExcPattern()" [disabled]="!ruleExcPatternsForm.form.valid || !isValidFormByAdditionalConditions">
                            Test &nbsp; <span class="glyphicon glyphicon-text-size"></span>
                        </button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger" style="width: 33%" (click)="deleteExcPattern()">
                            Delete &nbsp; <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <button class="btn btn-success" style="width: 32%" (click)="createExcPattern()" [disabled]="!ruleExcPatternsForm.form.valid || !isValidFormByAdditionalConditions">
                            Add &nbsp;<span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button class="btn btn-primary" style="width: 33%;" (click)="updateExcPattern()" [disabled]="!ruleExcPatternsForm.form.valid || !isValidFormByAdditionalConditions">
                            Update &nbsp;<span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-default" (click)="checkAllItems('ruleExcPatterns' ,'checkedExcPatterns', 'exception_pattern_id')" title="Check all patterns" style="width: 48%">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                        </button>
                        <button type="button" class="btn btn-default" (click)="uncheckAllItems('checkedExcPatterns')" title="UnCheck all patterns" style="width: 48%">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </div>
                </form>

                <div *ngIf="ruleExcPatterns" class="list-group {{disableListGroups ? 'disableListItems' : ''}}" style="margin-top: 15px;">
                    <a *ngFor="let ruleExcPattern of ruleExcPatterns"
                       class="list-group-item {{(ruleExcPattern.exception_pattern_id == ruleExcPatternsModel.exception_pattern_id) ? 'active' : ''}}"
                       (click)="ruleExcPatternsModel.load(ruleExcPattern);"
                    >
                        <input
                                (change)="checkItem('checkedExcPatterns', ruleExcPattern.exception_pattern_id)"
                                [checked]="checkedExcPatterns.indexOf(ruleExcPattern.exception_pattern_id) !== -1"
                                type="checkbox"
                        >&nbsp;&nbsp;&nbsp;
                        <span class="glyphicon glyphicon-signal {{ ruleExcPattern.active ? 'activeIcon' : '' }}"></span>
                        {{ruleExcPattern.test}}
                    </a>
                </div>
            </div>

            <!-- Sub rules  tab -->
            <div id="subRules" class="tab-pane fade in">
                <form #ruleSubRuleForm="ngForm" *ngIf="ruleSubRulesModel" class="topicRulesForms">
                    <div class="form-group">
                        <input
                                type="text"
                                class="form-control"
                                required
                                name="ruleSubRuleName"
                                placeholder="Sub rule name"
                                [(ngModel)]="ruleSubRulesModel.name"
                                #ruleSubRuleName="ngModel"
                        >
                        <div [hidden]="ruleSubRuleName.valid || ruleSubRuleName.pristine" class="alert alert-danger">
                            Name is required
                        </div>
                    </div>
                    <div class="form-group">
                        <input
                                type="number"
                                class="form-control"
                                required
                                name="ruleSubRuleExecLimit"
                                placeholder="Number of executions"
                                [(ngModel)]="ruleSubRulesModel.exec_limit"
                                #ruleSubRuleExecLimit="ngModel"
                        >
                        <div [hidden]="ruleSubRuleExecLimit.valid || ruleSubRuleExecLimit.pristine" class="alert alert-danger">
                            Number of executions is required
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-default {{ruleSubRulesModel.active ? 'activeButton' : ''}}" style="width: 31%; margin: 2px;" (click)="ruleSubRulesModel.active = !ruleSubRulesModel.active; updateSubRule()">
                            {{ ruleSubRulesModel.active ? 'Active' : 'Inactive' }} &nbsp;<span class="glyphicon glyphicon-signal"></span>
                        </button>
                        <button class="btn btn-default {{ruleSubRulesModel.enabled ? 'activeButton' : ''}}" style="width: 31%; margin: 2px;" (click)="ruleSubRulesModel.enabled = !ruleSubRulesModel.enabled; updateSubRule()">
                            {{ ruleSubRulesModel.enabled ? 'On' : 'Off' }} &nbsp;<span class="glyphicon glyphicon-off"></span>
                        </button>
                        <button class="btn btn-default {{ruleSubRulesModel.exclude_template ? 'activeButton' : ''}}" style="width: 31%; margin: 2px;" (click)="ruleSubRulesModel.exclude_template = !ruleSubRulesModel.exclude_template; updateSubRule()">
                            {{ ruleSubRulesModel.exclude_template ? 'Exc' : 'Inc' }} &nbsp;<span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger" style="width: 33%" (click)="deleteSubRule()">
                            Delete &nbsp; <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <button class="btn btn-success" style="width: 32%" (click)="createSubRule()" [disabled]="!ruleSubRuleForm.form.valid || !isValidFormByAdditionalConditions">
                            Add &nbsp;<span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button class="btn btn-primary" style="width: 33%;" (click)="updateSubRule()" [disabled]="!ruleSubRuleForm.form.valid || !isValidFormByAdditionalConditions">
                            Update &nbsp;<span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </div>

                </form>

                <div *ngIf="ruleSubRules" class="list-group {{disableListGroups ? 'disableListItems' : ''}}" style="margin-top: 15px;">
                    <a *ngFor="let ruleSubRule of ruleSubRules"
                       class="list-group-item {{(ruleSubRule.rule_id == ruleSubRulesModel.rule_id) ? 'active' : ''}}"
                       (click)="ruleSubRulesModel.load(ruleSubRule);getSubRulesData();"
                    >
                        <span class="glyphicon glyphicon-signal {{ ruleSubRule.active ? 'activeIcon' : '' }}"></span>&nbsp;
                        <span class="glyphicon glyphicon-off {{ ruleSubRule.enabled ? 'activeIcon' : '' }}"></span>&nbsp;
                        <span class="glyphicon glyphicon-ok {{ ruleSubRule.exclude_template ? 'activeIcon' : '' }}"></span>&nbsp;
                        {{ruleSubRule.name}}
                    </a>
                </div>

                <!-- SUB-RULE TABS -->
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#subPatterns">Patterns</a></li>
                    <li><a data-toggle="tab" href="#subTemplates">Templates</a></li>
                </ul>

                <!-- SubRule Tabs content -->
                <div class="tab-content" style="margin-top: 15px;">
                    <div id="subPatterns" class="tab-pane fade in active">
                        <form #subRulePatternsForm="ngForm" *ngIf="subRulePatternsModel" class="topicRulesForms">
                            <div class="form-group">
                                <input
                                        type="text"
                                        class="form-control"
                                        required
                                        name="rulePatternTest"
                                        placeholder="Test"
                                        [(ngModel)]="subRulePatternsModel.test"
                                        #rulePatternTest="ngModel"
                                >
                                <div [hidden]="rulePatternTest.valid || rulePatternTest.pristine" class="alert alert-danger">
                                    Test text is required
                                </div>
                            </div>

                            <div class="form-group">
                                <textarea
                                        class="form-control"
                                        required
                                        name="rulePatternText"
                                        placeholder="Text"
                                        [(ngModel)]="subRulePatternsModel.text"
                                        #rulePatternText="ngModel"
                                ></textarea>
                                <div [hidden]="rulePatternText.valid || rulePatternText.pristine" class="alert alert-danger">
                                    RegExp is required
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default {{subRulePatternsModel.active ? 'activeButton' : ''}}" style="width: 49%; margin: 2px;" (click)="subRulePatternsModel.active = !subRulePatternsModel.active; updateSubPattern(true)">
                                    {{ subRulePatternsModel.active ? 'Active' : 'Inactive' }} &nbsp;<span class="glyphicon glyphicon-signal"></span>
                                </button>
                                <button class="btn btn-default" style="width: 47%; margin: 2px;" (click)="testSubPattern()">
                                    Test &nbsp; <span class="glyphicon glyphicon-text-size"></span>
                                </button>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-danger" style="width: 33%" (click)="deleteSubPattern()">
                                    Delete &nbsp; <span class="glyphicon glyphicon-trash"></span>
                                </button>
                                <button class="btn btn-default" style="width: 33%" (click)="pastePatterns()">
                                    Paste&nbsp; <span class="glyphicon glyphicon-paste"></span>
                                </button>
                                <button class="btn btn-success" style="width: 32%" (click)="createSubPattern()" [disabled]="!subRulePatternsForm.form.valid || !isValidFormByAdditionalConditions">
                                    Add &nbsp;<span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-default" (click)="checkAllItems('ruleSubRulePatterns' ,'checkedSubRulePatterns', 'pattern_id')" title="Check all patterns" style="width: 24%">
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                                <button type="button" class="btn btn-default" (click)="uncheckAllItems('checkedSubRulePatterns')" title="UnCheck all patterns" style="width: 24%">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button class="btn btn-primary" style="width: 47%; margin: 2px;" (click)="updateSubPattern()" [disabled]="!subRulePatternsForm.form.valid || !isValidFormByAdditionalConditions">
                                    Update &nbsp;<span class="glyphicon glyphicon-refresh"></span>
                                </button>
                            </div>
                        </form>

                        <div *ngIf="ruleSubRulePatterns" class="list-group {{disableListGroups ? 'disableListItems' : ''}}" style="margin-top: 15px;">
                            <a *ngFor="let subRulePattern of ruleSubRulePatterns"
                               class="list-group-item {{(subRulePattern.pattern_id == subRulePatternsModel.pattern_id) ? 'active' : ''}}"
                               (click)="subRulePatternsModel.load(subRulePattern);"
                            >
                                <input
                                    (change)="checkItem('checkedSubRulePatterns', subRulePattern.pattern_id)"
                                    [checked]="checkedSubRulePatterns.indexOf(subRulePattern.pattern_id) !== -1"
                                    type="checkbox"
                                >&nbsp;&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-signal {{ subRulePattern.active ? 'activeIcon' : '' }}"></span>
                                {{subRulePattern.test}}
                            </a>
                        </div>
                    </div>
                    <div id="subTemplates" class="tab-pane fade in">
                        <form #subRuleTemplatesForm="ngForm" *ngIf="subRuleTemplatesModel" class="topicRulesForms">
                            <div class="form-group">
                                <textarea
                                        class="form-control"
                                        required
                                        name="rulePatternText"
                                        placeholder="Rule name"
                                        [(ngModel)]="subRuleTemplatesModel.text"
                                        #rulePatternText="ngModel"
                                ></textarea>
                                <div [hidden]="rulePatternText.valid || rulePatternText.pristine" class="alert alert-danger">
                                    Text is required
                                </div>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-danger" style="width: 49%" (click)="deleteSubTemplate()">
                                    Delete &nbsp; <span class="glyphicon glyphicon-trash"></span>
                                </button>
                                <button class="btn btn-success" style="width: 48%" (click)="createSubTemplate()" [disabled]="!subRuleTemplatesForm.form.valid || !isValidFormByAdditionalConditions">
                                    Add &nbsp;<span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-default" (click)="checkAllItems('ruleSubRuleTemplates' ,'checkedSubRuleTemplates', 'template_id')" title="Check all templates" style="width: 24%">
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                                <button type="button" class="btn btn-default" (click)="uncheckAllItems('checkedTemplates')" title="UnCheck all templates" style="width: 24%">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button class="btn btn-primary" style="width: 47%; margin: 2px;" (click)="updateSubTemplate()" [disabled]="!subRuleTemplatesForm.form.valid || !isValidFormByAdditionalConditions">
                                    Update &nbsp;<span class="glyphicon glyphicon-refresh"></span>
                                </button>
                            </div>
                        </form>

                        <div *ngIf="ruleSubRuleTemplates" class="list-group {{disableListGroups ? 'disableListItems' : ''}}" style="margin-top: 15px;">
                            <a *ngFor="let subRuleTemplate of ruleSubRuleTemplates"
                               class="list-group-item {{(subRuleTemplate.template_id == subRuleTemplatesModel.template_id) ? 'active' : ''}}"
                               (click)="subRuleTemplatesModel.load(subRuleTemplate);"
                            >
                                <input
                                        (change)="checkItem('checkedSubRuleTemplates', subRuleTemplate.template_id);"
                                        [checked]="checkedSubRuleTemplates.indexOf(subRuleTemplate.template_id) !== -1"
                                        type="checkbox"
                                >&nbsp;&nbsp;&nbsp;
                                <span *ngIf="subRuleTemplate.text.length > ruleTemplatesItemTextMaxLength">
                                    {{subRuleTemplate.text.substring(0,ruleTemplatesItemTextMaxLength)+'...'}}
                                </span>
                                <span *ngIf="subRuleTemplate.text.length <= ruleTemplatesItemTextMaxLength">
                                    {{subRuleTemplate.text}}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sub rules  tab -->

            <!-- Learning phrases tab -->
            <div id="learningPhrases" class="tab-pane fade in">
                <form #learningPhrasesForm="ngForm" *ngIf="learningPhrasesModel" class="topicRulesForms">
                    <div class="form-group">
                        <textarea
                                class="form-control"
                                required
                                name="text"
                                placeholder="Type new learning phrases name here"
                                [(ngModel)]="learningPhrasesModel.text"
                                #text="ngModel"
                                style="resize: vertical;"
                        ></textarea>
                        <div [hidden]="text.valid || text.pristine" class="alert alert-danger">
                            Text is required
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-success" [disabled]="!learningPhrasesForm.form.valid" (click)="createLearningPhrase()">
                                Create <span class="glyphicon glyphicon-plus-sign"></span>
                            </button>
                            <button type="button" class="btn btn-primary" [disabled]="!learningPhrasesForm.form.valid" (click)="updateLearningPhrase()">
                                Update <span class="glyphicon glyphicon-refresh"></span>
                            </button>
                            <button type="button" class="btn btn-danger" [disabled]="!learningPhrasesForm.form.valid" (click)="deleteLearningPhrase();">
                                Delete <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <button type="button" class="btn btn-default" (click)="checkAllPhrases()" title="Check all phrases">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                            <button type="button" class="btn btn-default" (click)="unCheckAllPhrases()" title="UnCheck all phrases">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
                <br>

                <div *ngIf="learningPhrases" class="list-group {{disableListGroups ? 'disableListItems' : ''}}" style="margin-top: 15px;">
                    <a *ngFor="let learningPhrase of learningPhrases"
                       class="list-group-item {{(learningPhrase.learning_phrase_id == learningPhrasesModel.learning_phrase_id) ? 'active' : ''}}"
                       (click)="changeLearningPhrase(learningPhrase)"
                    >
                        <input
                                (change)="checkedClassPhrases.push(learningPhrase.learning_phrase_id);"
                                [checked]="checkedClassPhrases.indexOf(learningPhrase.learning_phrase_id) !== -1"
                                type="checkbox"
                        >&nbsp;&nbsp;&nbsp;
                        <span [innerHTML]="getMarkedPhraseText(learningPhrase.learning_phrase_id, learningPhrase.text)"></span>
                    </a>
                </div>
            </div>
            <!-- Learning phrases tab -->
        </div>
    </div>
</div>

<!-- CREATE TOPIC FORM MODAL -->
<div id="createTopicModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create new topic</h4>
                <strong *ngIf="modalErrorText" class="text-danger">{{modalErrorText}}</strong>
                <strong *ngIf="modalSuccessText" class="text-success">{{modalSuccessText}}</strong>
            </div>
            <div class="modal-body">

                <div class="text-center" [hidden]="!displayModalLoader">
                    <img src="/build/assets/modal-loader.gif">
                </div>


                <form #topicCreateForm="ngForm" [hidden]="displayModalLoader">
                    <div class="form-group">
                        <label for="createTopicName">Topic Name</label>
                        <input
                                type="text"
                                id="createTopicName"
                                class="form-control"
                                required
                                name="createTopicName"
                                [(ngModel)]="newTopicName"
                                #createTopicName="ngModel"
                        >
                        <div [hidden]="createTopicName.valid || createTopicName.pristine" class="alert alert-danger">
                            Name is required
                        </div>
                    </div>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" [disabled]="!topicCreateForm.form.valid || !isValidFormByAdditionalConditions" (click)="createTopic()">Create</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<app-topicsUpdateModal
        *ngIf="currentTopicData"
        [topicData]="currentTopicData"
        [modalErrorText]="modalErrorText"
        [modalSuccessText]="modalSuccessText"
        [displayModalLoader]="displayModalLoader"
        [topicModel]="topicModel"
        [availableScenarios]="availableScenarios"
        [availableTags]="availableTags"
        [availableLanguages]="availableLanguages"
        (onDeleteTopic)="deleteTopic()"
        (onUpdateTopic)="updateTopic()"
        (onPasteRule)="pasteRule()"
        (onClose)="openUpdateTopicModal(null)"
>
</app-topicsUpdateModal>

<!-- CREATE RULE FORM MODAL -->
<div id="createTopicRuleModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create new topic rule</h4>
                <strong *ngIf="modalErrorText" class="text-danger">{{modalErrorText}}</strong>
                <strong *ngIf="modalSuccessText" class="text-success">{{modalSuccessText}}</strong>
            </div>
            <div class="modal-body">

                <div class="text-center" [hidden]="!displayModalLoader">
                    <img src="/build/assets/modal-loader.gif">
                </div>


                <form #topicRuleCreateForm="ngForm" [hidden]="displayModalLoader">
                    <div class="form-group">
                        <label for="createTopicRuleName">Rule Name</label>
                        <input
                                type="text"
                                id="createTopicRuleName"
                                class="form-control"
                                required
                                name="createTopicRuleName"
                                [(ngModel)]="newTopicRuleName"
                                #createTopicRuleName="ngModel"
                        >
                        <div [hidden]="createTopicRuleName.valid || createTopicRuleName.pristine" class="alert alert-danger">
                            Name is required
                        </div>
                    </div>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" [disabled]="!topicRuleCreateForm.form.valid || !isValidFormByAdditionalConditions" (click)="createTopicRule()">Create</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<!-- UPDATE RULE FORM MODAL -->
<ng-container *ngIf="topicRuleModel">
    <div *ngFor="let ruleData of availableRules" id="{{'ruleModal' + ruleData.rule_id}}" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width: 70%;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" (click)="revertTopicRuleModel(ruleData)">&times;</button>
                    <h4 class="modal-title">Update rule - {{ruleData.name}}</h4>
                    <strong *ngIf="modalErrorText" class="text-danger">{{modalErrorText}}</strong>
                    <strong *ngIf="modalSuccessText" class="text-success">{{modalSuccessText}}</strong>
                </div>
                <div class="modal-body">

                    <div class="text-center" [hidden]="!displayModalLoader">
                        <img src="/build/assets/modal-loader.gif">
                    </div>


                    <form #topicRuleForm="ngForm" [hidden]="displayModalLoader">
                        <div class="form-group">
                            <label for="ruleName">Name</label>
                            <input
                                    type="text"
                                    id="ruleName"
                                    class="form-control"
                                    required
                                    name="ruleName"
                                    placeholder="Rule name"
                                    [(ngModel)]="topicRuleModel.name"
                                    #ruleName="ngModel"
                            >
                            <div [hidden]="ruleName.valid || ruleName.pristine" class="alert alert-danger">
                                Name is required
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="executionNumber">Number of execution</label>
                            <input
                                    id="executionNumber"
                                    type="number"
                                    class="form-control"
                                    name="executionNumber"
                                    placeholder="Count triggering value"
                                    [(ngModel)]="topicRuleModel.exec_limit"
                                    #executionNumber="ngModel"
                                    required
                            >
                            <div [hidden]="executionNumber.valid || executionNumber.pristine" class="alert alert-danger">
                                Number of execution is required
                            </div>
                        </div>


                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" (click)="copyRule()">
                        Copy &nbsp; <span class="glyphicon glyphicon-copy"></span>
                    </button>

                    <button type="button" class="btn btn-default {{ruleData.exclude_template ? 'activeButton' : ''}}" (click)="changeTopicRuleStatusOpt('exclude_template', !ruleData.exclude_template)">
                        {{ruleData.exclude_template ? 'Exc' : 'Inc'}} &nbsp;&nbsp; <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="btn btn-default {{ruleData.active ? 'activeButton' : ''}}" (click)="changeTopicRuleStatusOpt('active', !ruleData.active)">
                        {{ruleData.active ? 'Active' : 'Inactive'}} &nbsp;&nbsp; <span class="glyphicon glyphicon-signal"></span>
                    </button>
                    <button type="button" class="btn btn-default  {{ruleData.enabled ? 'activeButton' : ''}}" (click)="changeTopicRuleStatusOpt('enabled', !ruleData.enabled)">
                        {{ruleData.enabled ? 'On' : 'Off'}} &nbsp;&nbsp; <span class="glyphicon glyphicon-off"></span>
                    </button>

                    <button type="button" class="btn btn-danger" (click)="deleteRule()">
                        Delete &nbsp;<span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <button type="button" class="btn btn-primary" (click)="updateRule()">
                        Update &nbsp;<span class="glyphicon glyphicon-refresh"></span>
                    </button>

                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="revertTopicRuleModel(ruleData)">
                        Cancel &nbsp;<span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</ng-container>