<h1>Access page <i class="fa fa-user-secret" aria-hidden="true"></i></h1>

<div class="alert alert-warning" [hidden]="!errorText">
    <strong>Oops!</strong> {{errorText}}
</div>
<div class="alert alert-success" [hidden]="(successText == '')">
    <strong>Great! <i class="fa fa-grav" aria-hidden="true"></i></strong> {{successText}}
</div>

<div class="col-md-12">

    <div [hidden]="!displayLoadingBlock">
        <div class="col-md-12 text-center">
            <img src="/build/assets/pre-loader.gif">
        </div>
    </div>

    <div id="createForm" class="collapse">
        <div class="col-md-8" [hidden]="displayLoadingBlock">
            <form (ngSubmit)="createUser()" #createUserForm="ngForm">
                <div class="form-group">
                    <label for="name">Username</label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           required
                           name="name"
                           placeholder="Enter preferable username"
                           [(ngModel)]="accessModel.username"
                           #name="ngModel"
                    >
                    <div [hidden]="name.valid || name.pristine"
                         class="alert alert-danger">
                        Username is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">Email</label>
                    <input type="email"
                           class="form-control"
                           pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                           id="email"
                           required
                           name="email"
                           placeholder="Enter user email"
                           [(ngModel)]="accessModel.email"
                           #email="ngModel"
                    >
                    <div [hidden]="email.valid || email.pristine"
                         class="alert alert-danger">
                        Email is not specified or invalid
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">Password</label>
                    <input type="password"
                           class="form-control"
                           id="password"
                           required
                           name="password"
                           minlength="6"
                           placeholder="Enter preferable username"
                           [(ngModel)]="accessModel.password"
                           #password="ngModel"
                    >
                    <div [hidden]="password.valid || password.pristine"
                         class="alert alert-danger">
                        Password is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="role">Role</label>
                    <select class="form-control"
                            id="role"
                            required
                            name="role"
                            [(ngModel)]="accessModel.role"
                            [disabled]="!enableModelsSelect"
                    >
                        <option *ngFor="let role of availableRoles" [value]="role">
                            {{ role }}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-success pul-left"
                            [disabled]="!createUserForm.form.valid"
                            style="width: 100%">
                        Create
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-4 pull-right" [hidden]="displayLoadingBlock">
        <button
                data-toggle="collapse"
                data-target="#createForm"
                class="btn btn-lg btn-primary pull-right"
                [hidden]="displayLoadingBlock"
                style="width:100%;"
        >
            Create user form&nbsp;&nbsp;<i class="fa fa-arrow-down" aria-hidden="true"></i>
        </button>
    </div>

    <br>
    <br>

    <ng-container *ngIf="pagedItems && pagedItems.length">
        <div class="col-md-12">
            <table class="table" [hidden]="displayLoadingBlock">
                <thead class="thead-inverse table-striped table-bordered" style="color: white; background-color: #333;">
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Created at</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of pagedItems;">
                    <th>{{item.id}}</th>
                    <td>{{item.username}}</td>
                    <td>{{item.email}}</td>
                    <td>{{formatTimestamp(item.created_at)}}</td>
                    <td>{{item.role}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#updateModal'+ item.id"
                                (click)="selectedRoleForUpdate=item.role"
                        >
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <a class="btn btn-danger" (click)="deleteUser(item.id, item.username)" title="Delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="text-center">
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(1)">First</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.totalPages)">Last</a>
                    </li>
                </ul>
            </div>
        </div>
    </ng-container>

</div>

<ng-container *ngFor="let item of pagedItems;">
    <!-- Modal -->
    <div id="updateModal{{item.id}}" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update {{item.username}} user</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="updateRole">Choose new role</label>
                        <select class="form-control"
                                id="updateRole"
                                required
                                name="updateRole"
                                [(ngModel)]="selectedRoleForUpdate"
                        >
                            <option *ngFor="let role of availableRoles" [value]="role">
                                {{ role }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-success" (click)="updateUser(item.id)" title="Update" data-dismiss="modal">
                        Update&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span>
                    </a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancel">
                        Cancel&nbsp;&nbsp;<span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</ng-container>
