<h1>Error log page <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></h1>

<div class="alert alert-warning" [hidden]="!errorText">
    <strong>Oops!</strong> {{errorText}}
</div>


<div class="col-md-12">

    <ng-container *ngIf="pagedItems && !pagedItems.length">
        <h3>No log data to show</h3>
    </ng-container>

    <div [hidden]="!displayLoadingBlock">
        <div class="col-md-12 text-center">
            <img src="/build/assets/pre-loader.gif">
        </div>
    </div>

    <button (click)="refreshPage()" type="button" class="btn btn-lg btn-primary pull-left">
        Refresh <i class="fa fa-refresh" aria-hidden="true"></i>
    </button>
    <ng-container *ngIf="pagedItems && pagedItems.length">
        <button (click)="clearLog()" type="button" class="btn btn-lg btn-danger pull-right">
            Clear log <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
        <table class="table" [hidden]="displayLoadingBlock">
            <thead class="thead-inverse table-striped table-bordered" style="color: white; background-color: #333;">
            <tr>
                <th>ID</th>
                <th>Level</th>
                <th>Category</th>
                <th>Time</th>
                <th>Prefix</th>
                <th>Message</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of pagedItems;">
                <th>{{item.id}}</th>
                <td>{{item.level}}</td>
                <td>{{item.category}}</td>
                <td>{{item.log_time}}</td>
                <td>{{item.prefix}}</td>
                <td>{{item.message}}</td>
            </tr>
            </tbody>
        </table>

        <div class="text-center">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>

    </ng-container>

</div>
