#expanded-table tbody tr:not(.current):not(.expanded-table-header):not(.expanded-table-footer):hover {
    cursor: pointer
}

#expanded-table .current, #expanded-table .current:hover, #expanded-table .expanded-table-header, #expanded-table .expanded-table-footer {
    background-color: #eee;
}

#expanded-table-header, #expanded-table-footer {
    display: none;
}