ul.bindable-form-items {
    margin-top: 15px;
}

.bindable-form-items li.list-group-item {
    white-space: nowrap;
    overflow: hidden;
    padding-right: 5px;
    text-overflow: ellipsis;
}

.bindable-form-items li.list-group-item {
    cursor: pointer;
}

ul.bindable-form-items li.current, ul.bindable-form-items li.current:focus, ul.bindable-form-items li.current:hover {
    background-color: #eee;
}

.bindable-form-items span.active {
    color: #5cb85c;
}

.bindable-form-items li.last-item, .bindable-form-items li.last-item.current,
.bindable-form-items li.last-item.current:focus, .bindable-form-items li.last-item.current:hover,
.bindable-form-items li.first-item, .bindable-form-items li.first-item.current,
.bindable-form-items li.first-item.current:focus, .bindable-form-items li.first-item.current:hover {
    background-color: #dff0d8;
}