.form-horizontal .control-label {
    text-align: left;
}

.form-horizontal button.dropdown-toggle {
    width: 100%;
    text-align: right;
}

ul.dropdown-menu div {
    margin-left: 10px;
}

ul.dropdown-menu label {
    font-weight: normal;
}

.short-summary {
    position: absolute;
    color: #777;
}

.livesearch {
    margin: 5px;
    width: auto;
}

.hasDatepicker {
    margin-top: 10px;
}
