#groupPhrases button.active span {
    color: #5cb85c;
}

#groupPhrases button {
    background-color: transparent !important;
}

#groupPhrases button.active {
    border-color: #5cb85c !important;
}

button[name="hasPlaceholderButton"], button[name="hasPrePlaceholderButton"] {
    margin-right: 5px;
}

#groupPhrases ul li button {
    padding: 2px;
}

#phrases ul.bindable-form-items li.list-group-item {
    white-space: normal;
}

.form-horizontal .control-label {
    text-align: left;
}
