#palettePhrases, #paletteClassifiers, #paletteBlocks, #paletteNlpClassifiers, #scenarioDiagram {
    border: 1px solid #ccc;
    border-radius: 5px;
}

#palettePhrases:focus, #paletteClassifiers:focus, #paletteBlocks:focus, #paletteNlpClassifiers:focus, #scenarioDiagram:focus {
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
}

.labelForInput {
    font-weight: normal;
    margin-top: 5px;
}

ul {
    font-size: 12px;
}

.blockItem {
    display: none;
}
