table tr span.active{
    color: #5cb85c;
}

ul input.livesearch{
    margin-left: 5px;
    width: 80%;
}

div[name=settingsScenario] .dropdown-menu{
    font-size: 12px;
}

table td:nth-child(6) span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
