/* General elements */
.dropdown-menu {
    box-shadow: none;
}

a:focus {
    outline-style: none !important;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
    outline: none;
}

.btn {
    background-image: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

.form-control:focus {
    box-shadow: none;
}

/* Header menu */
.navbar-default {
    background-image: none;
    box-shadow: none;
}

.navbar-brand {
    /*padding-left: 0px;*/
}

.navbar-brand:hover {
    text-decoration: underline;
}

ul.navbar-right li form {
    margin: 7.5px;
}

/* Content */
.content {
    padding-top: 70px;
    min-height: 100%;
}

.collapsable-container {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.modal-body .btn.btn-default.dropdown-toggle.btn-block {
    text-align: left;
}

.badge-danger {
    background-color: #d9534f;
    color: white;
}

/* Footer */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}