#dialogue {
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    display: table;
    min-height: 10px;
    width: 1050px;
}
#dialogue .dialoguePart {
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    clear: right;
    display: block;
    float: left;
    padding: 5px;
    width: 100%;
}
#dialogue .dialoguePart .lines {
    float: left;
}
#dialogue .dialoguePart .lines .line {
    clear: both;
    min-width: 500px;
}
#dialogue .dialoguePart .lines .line .col {
    float: left;
}
#dialogue .dialoguePart .lines .line .col.userinfo {
    width: 265px;
}
#dialogue .dialoguePart .lines .line.user .col.userinfo {
    color: midnightblue;
}
#dialogue .dialoguePart .lines .line.eva .col.userinfo {
    color: maroon;
}
#dialogue .dialoguePart .lines .line .col.text {
    font-style: italic;
    width: 600px;
}
#dialogue .dialoguePart .details {
    float: right;
}
