.overflow-to-points {
    overflow: hidden;
    text-overflow: ellipsis;
}

.message {
    width: 100%;
    margin-left: 0px;
    color: #333;
}

.highlight {
    background-color: #dff0d8 !important;
}
